---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V4RXY7MZHW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-V4RXY7MZHW');
</script>
<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a title="laravel mail platform" href="/">Home</a>
    </li>
    <li class="menu-item">
      <a title="laravel mail blade templates" href="/templates">Templates</a>
    </li>
    <li class="menu-item">
      <a title="documentation laravel mail platform" href="/docs/index">Docs</a>
    </li>
    <li class="menu-item">
      <a title="features laravel mail platform" href="/features">Features</a>
    </li>
    <li class="menu-item">
      <a title="try laravel mail platform" href="/try">Try</a>
    </li>
    <li class="menu-item">
      <a title="buy laravel mail platform" href="/buy">Buy</a>
    </li>
    <li class="menu-item">
      <a title="contact laravel agency essex" href="/contact">Contact</a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
