---
import { Icon } from 'astro-icon/components'

const { src = '/src/assets/img/logo.svg' } = Astro.props
---

<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-12 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h2 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot><span class="text-gradient">Laravel</span> Mail</slot>
        </h2>

        <p class="text-3xl">Community inspired <strong>mail platform</strong> for your laravel application.</p>
        <p class="text-2xl">
          Laravel Mail is a fully featured <b>email marketing platform</b> built for growing creators, developers, and businesses.
        </p>
      </div>
      
	    <img  src="logo.svg" alt="Laravel Mail" class="w-full">
    </div>
    </div>

  </div>
</section>