---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Card, Pagination } from 'accessible-astro-components'

/**
   @todo: Add blog from local content
  **/

---

<DefaultLayout
  title="Blog"
  description="Learn about marketing and branding, and how to build a successful business."
>
  <section class="my-12">
    <div class="space-content container">
      <h1>Blog</h1>
      <p class="text-2xl">
        An example of a blog with dynamic content fetched from <a href="https://jsonplaceholder.typicode.com/posts"
          >JSONPlaceholder</a
        > using the title, body and userId. The Accessible Astro Card Component is used here to display al the posts.
      </p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <p class="text-sm">
        Some of the posts are from the <a href="https://jsonplaceholder.typicode.com/">JSONPlaceholder</a> API.
      </p>
      <ul class="my-3">
        <li>
          <Card
            url={'/blog/'}
            title={'title'}
            footer={'userId:'}
          >
            Some very long text that is repeated to demonstrate the use of the Card component.
          </Card>
        </li>
      </ul>
      <div class="mt-12 grid place-content-center">
        Pagination goes here
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
