---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
---
<DefaultLayout title="Home">

  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">About Laravel Mail</h2>

    </div>
  </section>
</DefaultLayout>

