---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Media from '../components/ContentMedia.astro'
---
<DefaultLayout title="About Laravel Mail">

  <section class="my-64">
    <div class="container">
      <h3 class="mb-16 text-6xl">What is Laravel Mail and how can it can help me?</h2>

    </div>
  </section>

</DefaultLayout>

<Media imgSrc="/images/hero.png" reverseImg={true}>
  <h2 class="text-4xl">Laravel Mail is an self hosted email marketing software that you can host on your own server.</h2>
  <p class="text-lg">
    Laravel Mail is an self hosted email marketing software that you can host on your own server. Laravel Mail is an self hosted email marketing software that you can host on your own server. Laravel Mail is an self hosted email marketing software that you can host on your own server. Laravel Mail is an self hosted email marketing software that you can host on your own server.
  </p>
  </Media>

