---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
---
<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Self Hosted">
          Laravel Mail is an self hosted mail platform that you can host on your own server.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="GrapesJS Editor">
         Build faster emails  using the power of GrapesJS editor.
        </Feature>
        <Feature icon="mdi:looks" title="Multiple workspaces">
          Easily handle multiple workspaces or teams through a single interface.
        </Feature>
        <Feature icon="mdi:eslint" title="Email Inteligence">
          Using the power of docker you will be able to run risk assessments and check for your users' email addresses.
        </Feature>
        <Feature icon="mdi:language-markdown" title="Message Tracking">
          Automatically track message sending, opens, clicks, bounces and unsubscribes for each campaign.
        </Feature>
        <Feature icon="mdi:cog" title="Design Workflows">
          Design email workflows with the help of laravel workflow package much easier than before.
        </Feature>
      </div>
    </div>
  </section>

</DefaultLayout>

