---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
---
<DefaultLayout title="Home">
  <Hero />


  <section class="my-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
        <div class="space-content flex flex-col justify-center">
          <h2>GrapesJS Editor.</h2>
          <p class="text-2xl">
            With the help of <b><a target="_blank" rel="noopener noreferrer" href="https://grapesjs.com/">GrapesJS</a> </b>
            you will be able to create your own templates for your mail campaigns.
          </p>

        </div>
        <img alt="grape js"  style="border: 1vw solid;border-image: linear-gradient(to right, #4b1e4e, #F58140) 1;" class="rounded-lg" decoding="async" loading="lazy" src="https://i.imgur.com/Qu3UcyG.jpeg" />
      </div>
    </div>
  </section>
  <section class="my-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
        <img
          style="border: 1vw solid;border-image: linear-gradient(to right, #4b1e4e, #F58140) 1;"
          class="rounded-lg"
          decoding="async"
          loading="lazy"
          src="https://i.imgur.com/kk2edgP.png"
        />
        <div class="space-content flex flex-col justify-center">
          <h2 data-astro-cid-b4koausq="">Advanced Workflows</h2>
          <p class="text-2xl" data-astro-cid-b4koausq="">
            With the help of <b><a target="_blank" rel="noopener noreferrer" href="https://github.com/42coders/workflows">42coders/workflows</a> </b>
            in our platform you will be able to use drag and drop to build workflows for your mail campaigns.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="my-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
        <div class="space-content flex flex-col justify-center">
          <h2>Advanced Imports.</h2>
          <p class="text-2xl">
           With a very powerful csv importer you will be able to import any contacts to your platform.
          </p>
        </div>
        <img alt="grape js"  style="border: 1vw solid;border-image: linear-gradient(to right, #4b1e4e, #F58140) 1;" class="rounded-lg" decoding="async" loading="lazy" src="https://i.imgur.com/Oy1Wa0R.png" />
      </div>
    </div>
  </section>
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Self Hosted">
          Laravel Mail is an self hosted mail platform that you can host on your own server.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="GrapesJS Editor">
         Build faster emails  using the power of GrapesJS editor.
        </Feature>
        <Feature icon="mdi:looks" title="Multiple workspaces">
          Easily handle multiple workspaces or teams through a single interface.
        </Feature>
        <Feature icon="mdi:eslint" title="Email Inteligence">
          Using the power of docker you will be able to run risk assessments and check for your users' email addresses.
        </Feature>
        <Feature icon="mdi:language-markdown" title="Message Tracking">
          Automatically track message sending, opens, clicks, bounces and unsubscribes for each campaign.
        </Feature>
        <Feature icon="mdi:cog" title="Design Workflows">
          Design email workflows with the help of laravel workflow package much easier than before.
        </Feature>
      </div>
    </div>
  </section>

</DefaultLayout>

