---
import DefaultLayout from '../layouts/DefaultLayout.astro'

---

<DefaultLayout title="Free Newsletter Templates">

  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">
        Discover Free Newsletter Templates
      </h2>
      <p class="mb-8 text-gray-500 dark:text-gray-400 sm:text-xl">
       Discover  over 1000 free newsletter templates to get you started.
        <br>
        <br>
        No credit card required.
      </p>
    </div>
  </section>
</DefaultLayout>
