---
import DefaultLayout from '../layouts/DefaultLayout.astro'


---

<DefaultLayout title="Home">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
  <script>hljs.highlightAll();</script>
  <div class="container">

    <h1 class="text-3xl font-bold mb-4">
      Try it out
    </h1>


    <p class="text-xl">
      Please note that this is a work in progress and the image is not yet ready for production use.
    </p>
    <p class="text-xl">
      You can try out the Laravel Mail Docker image by running the docker-compose.yml file below:
    </p>

    <pre class="text-xl mt-4">
      <code class="language-html">
        version: '3.8'
        services:
          app.laravelmail.com:
            container_name: app.laravelmail.com
            image: laravelmail/app.laravelmail.com:latest
      </code>
    </pre>

  </div>
</DefaultLayout>
