---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import ContentMedia from '../components/ContentMedia.astro'
import CallToAction from '../components/CallToAction.astro'
---
<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Self Hosted">
          Laravel Mail is an self hosted email marketing software that you can host on your own server.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="GrapesJS Editor">
         Build faster emails  using the power of GrapesJS editor.
        </Feature>
        <Feature icon="mdi:looks" title="Multiple workspaces">
          Easily handle multiple workspaces or teams through a single interface.
        </Feature>
        <Feature icon="mdi:eslint" title="Email Inteligence">
          Using the power of docker you will be able to run risk assessments and check for your users' email addresses.
        </Feature>
        <Feature icon="mdi:language-markdown" title="Message Tracking">
          Automatically track message sending, opens, clicks, bounces and unsubscribes for each campaign.
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="Multiple workspaces">
          Fully integrated Dark mode gives your users the choice for their favorite viewing mode.
        </Feature>
        <Feature icon="mdi:cog" title="Design Workflows">
          Design workflows to help you build your email marketing faster.
        </Feature>
        <Feature icon="mdi:lighthouse" title="Lighthouse Scores">
          Excellent lighthouse scores means your website will load faster and get better SEO rankings.
        </Feature>
      </div>
    </div>
  </section>
  <CallToAction />
  <ContentMedia imgSrc="https://raw.githubusercontent.com/42coders/workflows/master/resources/img/workflow_concept.png">
    <h2>Advanced Workflows</h2>
    <p class="text-2xl">
      Inspired by the 42 Coders of Workflow package, this package provides plenty of advanced workflows to help you build your email marketing faster.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>
      GrapesJS editor integration.
    </h2>
    <p class="text-2xl">
      Using semantic HTML and MJML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="relative not-prose scroll-mt-[72px]" id="features"><div class="inset-0 absolute pointer-events-none -z-[1]" aria-hidden="true" bis_skin_checked="1"><div class="inset-0 absolute" bis_skin_checked="1"></div></div><div class="relative mx-auto px-4 lg:py-20 md:px-6 md:py-16 py-12 text-default max-w-5xl" bis_skin_checked="1"><div class="text-center md:mx-auto mb-8 md:mb-12 max-w-3xl" bis_skin_checked="1"><p class="font-bold dark:text-blue-200 text-base text-secondary tracking-wide uppercase">Features</p><h2 class="font-bold font-heading leading-tighter tracking-tighter text-heading md:text-4xl text-3xl">What you get with AstroWind</h2><p class="text-muted text-xl mt-4">One of the most professional and comprehensive templates currently on the market. Most starred &amp; forked Astro theme in 2022.</p></div><div class="mx-auto gap-8 grid md:gap-y-12 sm:grid-cols-2" bis_skin_checked="1"><div bis_skin_checked="1"><div class="flex flex-row max-w-md" bis_skin_checked="1"><div class="flex justify-center" bis_skin_checked="1"><svg class="mr-4 rtl:ml-4 rtl:mr-0 bg-primary h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10" data-icon="tabler:brand-tailwind" height="1em" viewBox="0 0 24 24" width="1em"><symbol id="ai:tabler:brand-tailwind"><path d="M11.667 6Q7.933 6 7 9.667q1.4-1.834 3.267-1.375c.71.174 1.217.68 1.778 1.24c.916.912 2 1.968 4.288 1.968q3.734 0 4.667-3.667q-1.4 1.834-3.267 1.375c-.71-.174-1.217-.68-1.778-1.24C15.039 7.056 13.98 6 11.667 6m-4 6.5Q3.933 12.5 3 16.167q1.4-1.834 3.267-1.375c.71.174 1.217.68 1.778 1.24c.916.912 1.975 1.968 4.288 1.968q3.734 0 4.667-3.667q-1.4 1.834-3.267 1.375c-.71-.174-1.217-.68-1.778-1.24c-.916-.912-1.975-1.968-4.288-1.968" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></symbol><use xlink:href="#ai:tabler:brand-tailwind"></use></svg></div><div class="mt-0.5" bis_skin_checked="1"><h3 class="font-bold text-xl md:text-[1.3rem]">Astro + Tailwind CSS Integration</h3><p class="text-muted mt-3">A seamless integration between two great frameworks that offer high productivity, performance and versatility.</p></div></div></div><div bis_skin_checked="1"><div class="flex flex-row max-w-md" bis_skin_checked="1"><div class="flex justify-center" bis_skin_checked="1"><svg class="mr-4 rtl:ml-4 rtl:mr-0 bg-primary h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10" data-icon="tabler:components" height="1em" viewBox="0 0 24 24" width="1em"><symbol id="ai:tabler:components"><path d="m3 12l3 3l3-3l-3-3zm12 0l3 3l3-3l-3-3zM9 6l3 3l3-3l-3-3zm0 12l3 3l3-3l-3-3z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></symbol><use xlink:href="#ai:tabler:components"></use></svg></div><div class="mt-0.5" bis_skin_checked="1"><h3 class="font-bold text-xl md:text-[1.3rem]">Ready-to-use Components</h3><p class="text-muted mt-3">Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...</p></div></div></div><div bis_skin_checked="1"><div class="flex flex-row max-w-md" bis_skin_checked="1"><div class="flex justify-center" bis_skin_checked="1"><svg class="mr-4 rtl:ml-4 rtl:mr-0 bg-primary h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10" data-icon="tabler:list-check" height="1em" viewBox="0 0 24 24" width="1em"><symbol id="ai:tabler:list-check"><path d="M3.5 5.5L5 7l2.5-2.5m-4 7L5 13l2.5-2.5m-4 7L5 19l2.5-2.5M11 6h9m-9 6h9m-9 6h9" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></symbol><use xlink:href="#ai:tabler:list-check"></use></svg></div><div class="mt-0.5" bis_skin_checked="1"><h3 class="font-bold text-xl md:text-[1.3rem]">Best Practices</h3><p class="text-muted mt-3">Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.</p></div></div></div><div bis_skin_checked="1"><div class="flex flex-row max-w-md" bis_skin_checked="1"><div class="flex justify-center" bis_skin_checked="1"><svg class="mr-4 rtl:ml-4 rtl:mr-0 bg-primary h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10" data-icon="tabler:rocket" height="1em" viewBox="0 0 24 24" width="1em"><symbol id="ai:tabler:rocket"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3-5a9 9 0 0 0 6-8a3 3 0 0 0-3-3a9 9 0 0 0-8 6a6 6 0 0 0-5 3"></path><path d="M7 14a6 6 0 0 0-3 6a6 6 0 0 0 6-3m4-8a1 1 0 1 0 2 0a1 1 0 1 0-2 0"></path></g></symbol><use xlink:href="#ai:tabler:rocket"></use></svg></div><div class="mt-0.5" bis_skin_checked="1"><h3 class="font-bold text-xl md:text-[1.3rem]">Excellent Page Speed</h3><p class="text-muted mt-3">Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.</p></div></div></div><div bis_skin_checked="1"><div class="flex flex-row max-w-md" bis_skin_checked="1"><div class="flex justify-center" bis_skin_checked="1"><svg class="mr-4 rtl:ml-4 rtl:mr-0 bg-primary h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10" data-icon="tabler:arrows-right-left" height="1em" viewBox="0 0 24 24" width="1em"><symbol id="ai:tabler:arrows-right-left"><path d="M21 7H3m15 3l3-3l-3-3M6 20l-3-3l3-3m-3 3h18" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></symbol><use xlink:href="#ai:tabler:arrows-right-left"></use></svg></div><div class="mt-0.5" bis_skin_checked="1"><h3 class="font-bold text-xl md:text-[1.3rem]">Search Engine Optimization (SEO)</h3><p class="text-muted mt-3">SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.</p></div></div></div><div bis_skin_checked="1"><div class="flex flex-row max-w-md" bis_skin_checked="1"><div class="flex justify-center" bis_skin_checked="1"><svg class="mr-4 rtl:ml-4 rtl:mr-0 bg-primary h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10" data-icon="tabler:bulb" height="1em" viewBox="0 0 24 24" width="1em"><symbol id="ai:tabler:bulb"><path d="M3 12h1m8-9v1m8 8h1M5.6 5.6l.7.7m12.1-.7l-.7.7M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0-1 3a2 2 0 0 1-4 0a3.5 3.5 0 0 0-1-3m.7 1h4.6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></symbol><use xlink:href="#ai:tabler:bulb"></use></svg></div><div class="mt-0.5" bis_skin_checked="1"><h3 class="font-bold text-xl md:text-[1.3rem]">Open to new ideas and contributions</h3><p class="text-muted mt-3">Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.</p></div></div></div></div></div></section>
  <ContentMedia imgSrc="https://raw.githubusercontent.com/42coders/workflows/master/resources/img/workflow_concept.png">
    <h2>Advanced Workflows</h2>
    <p class="text-2xl">
      Inspired by the 42 Coders of Workflow package, this package provides plenty of advanced workflows to help you build your email marketing faster.
    </p>
  </ContentMedia>
  <section class="my-32">
    <div class="container">
      <section class="relative pt-16 pb-16 bg-blueGray-50 overflow-hidden">
        <div >
          <div class="relative z-10 container px-2 sm:px-8 lg:px-4 mx-auto w-11/12 sm:w-full" >
            <div class="md:max-w-4xl mx-auto" ><p class="mb-7 custom-block-subtitle text-center">Have any uestions?</p>
              <h2 class="mb-16 custom-block-big-title text-center">
                About Laravel Mail
              </h2>
              <div class="mb-11 flex flex-wrap -m-1" >
                <div class="w-full p-1" >
                  <div class="pt-2 sm:pt-6 pb-2 px-3 sm:px-8  rounded-3xl bg-customDarkBg3 custom-border-gray-darker mb-4 relative hover:bg-customDarkBg3Hover cursor-pointer">
                    <div class="flex flex-col p-2  justify-center items-start" ><h2
                      class=" custom-content-title pt-3 sm:pt-0 pr-8 sm:pr-0">Why install laravel mail?</h2>
                      <p class="text-customGrayText pt-4 transition-all duration-300 overflow-hidden max-h-96">
                        Asking yourself why you should use Laravel Mail is a great way to start.
                        It is a powerful email management solution that includes subscriber and list management, email campaigns, message tracking, reports and multiple workspaces/domains in a modern, flexible and scalable application.
                      </p>
                    </div>
                  </div>
                </div>
              </div>



              <div class="mb-11 flex flex-wrap -m-1" >
                <div class="w-full p-1" >
                  <div class="pt-2 sm:pt-6 pb-2 px-3 sm:px-8  rounded-3xl bg-customDarkBg3 custom-border-gray-darker mb-4 relative hover:bg-customDarkBg3Hover cursor-pointer">
                    <div class="flex flex-col p-2  justify-center items-start" ><h2
                      class=" custom-content-title pt-3 sm:pt-0 pr-8 sm:pr-0">Where can I test laravel mail?</h2>
                      <p class="text-customGrayText pt-4 transition-all duration-300 overflow-hidden max-h-96">
                        Curently the application is still in development and we are trying to keep things more personal.
                        So, we agreed not  to release a version for testing yet.
                      </p>
                      <p class="text-customGrayText pt-4 transition-all duration-300 overflow-hidden max-h-96">
                        If you want to test the application, you can see a demo of the application by setting up a call with one of the creators.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <style lang="scss">
        .text-gradient {
          background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        :global(.darkmode .text-gradient) {
          background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      </style>
    </div>
  </section>
  <section class="relative not-prose scroll-mt-[72px]"><div class="inset-0 absolute pointer-events-none -z-[1]" aria-hidden="true" bis_skin_checked="1"><div class="inset-0 absolute" bis_skin_checked="1"></div></div><div class="relative mx-auto px-4 lg:py-20 md:px-6 md:py-16 py-12 text-default max-w-6xl" bis_skin_checked="1"><div class="text-center md:mx-auto mb-8 md:mb-12 max-w-3xl" bis_skin_checked="1"><p class="font-bold dark:text-blue-200 text-base text-secondary tracking-wide uppercase">FAQs</p><h2 class="font-bold font-heading leading-tighter tracking-tighter text-heading md:text-4xl text-3xl">Frequently Asked Questions</h2><p class="text-muted text-xl mt-4">Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey.</p></div><div class="mx-auto gap-8 grid md:gap-y-12 sm:grid-cols-2 gap-y-8" bis_skin_checked="1"><div bis_skin_checked="1"><div class="flex flex-row max-w-none" bis_skin_checked="1"><div class="flex justify-center" bis_skin_checked="1"><svg class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6" data-icon="tabler:chevron-right" height="1em" viewBox="0 0 24 24" width="1em"><symbol id="ai:tabler:chevron-right"><path d="m9 6l6 6l-6 6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></symbol><use xlink:href="#ai:tabler:chevron-right"></use></svg></div><div class="mt-0.5" bis_skin_checked="1"><h3 class="font-bold text-xl">Why AstroWind?</h3><p class="text-muted mt-3">Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.</p></div></div></div><div bis_skin_checked="1"><div class="flex flex-row max-w-none" bis_skin_checked="1"><div class="flex justify-center" bis_skin_checked="1"><svg class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6" data-icon="tabler:chevron-right" height="1em" viewBox="0 0 24 24" width="1em"><use xlink:href="#ai:tabler:chevron-right"></use></svg></div><div class="mt-0.5" bis_skin_checked="1"><h3 class="font-bold text-xl">What do I need to start?</h3><p class="text-muted mt-3">Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.</p></div></div></div><div bis_skin_checked="1"><div class="flex flex-row max-w-none" bis_skin_checked="1"><div class="flex justify-center" bis_skin_checked="1"><svg class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6" data-icon="tabler:chevron-right" height="1em" viewBox="0 0 24 24" width="1em"><use xlink:href="#ai:tabler:chevron-right"></use></svg></div><div class="mt-0.5" bis_skin_checked="1"><h3 class="font-bold text-xl">How to install the Astro + Tailwind CSS template?</h3><p class="text-muted mt-3">Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p></div></div></div><div bis_skin_checked="1"><div class="flex flex-row max-w-none" bis_skin_checked="1"><div class="flex justify-center" bis_skin_checked="1"><svg class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6" data-icon="tabler:chevron-right" height="1em" viewBox="0 0 24 24" width="1em"><use xlink:href="#ai:tabler:chevron-right"></use></svg></div><div class="mt-0.5" bis_skin_checked="1"><h3 class="font-bold text-xl">What's something that you don't understand?</h3><p class="text-muted mt-3">A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.</p></div></div></div><div bis_skin_checked="1"><div class="flex flex-row max-w-none" bis_skin_checked="1"><div class="flex justify-center" bis_skin_checked="1"><svg class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6" data-icon="tabler:chevron-right" height="1em" viewBox="0 0 24 24" width="1em"><use xlink:href="#ai:tabler:chevron-right"></use></svg></div><div class="mt-0.5" bis_skin_checked="1"><h3 class="font-bold text-xl">What is something that you would like to try again?</h3><p class="text-muted mt-3">A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.</p></div></div></div><div bis_skin_checked="1"><div class="flex flex-row max-w-none" bis_skin_checked="1"><div class="flex justify-center" bis_skin_checked="1"><svg class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6" data-icon="tabler:chevron-right" height="1em" viewBox="0 0 24 24" width="1em"><use xlink:href="#ai:tabler:chevron-right"></use></svg></div><div class="mt-0.5" bis_skin_checked="1"><h3 class="font-bold text-xl">If you could only ask one question to each person you meet, what would that question be?</h3><p class="text-muted mt-3">This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.</p></div></div></div></div></div></section>
</DefaultLayout>

