---
import DefaultLayout from './DefaultLayout.astro'

const { frontmatter } = Astro.props
---

<DefaultLayout title={frontmatter.title}>
  <div class="container">
    <div class="space-content my-12">
      <slot />
    </div>
  </div>
  <script defer src="https://analytics.izdrail.com/script.js" data-website-id="cf5caa0b-8345-4f76-885f-b6e5b4af5ba3"></script>
</DefaultLayout>
