---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>&copy; {currentYear} - Laravel Mail Platform <a href="https://laravel.com">Laravel</a>. Made with ❤️ by <a href="https://github.com/markteekman">Stefan</a>.</p>
    </div>
  </section>
</footer>
