---
const currentYear = new Date().getFullYear()
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V4RXY7MZHW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V4RXY7MZHW');
</script>
<!-- Hotjar Tracking Code for https://laravelmail.com -->
<script>
  (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:5106367,hjsv:6};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<footer>
  <section class="py-8">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 columns-6xl">
          <p>&copy; {currentYear} -  <a href="https://laravelmail.com">Laravel Mail</a>. <br/> Made with ❤️ by <a href="https://phpteacher.com">Stefan</a> & <a href="https://github.com/laravelmail">Andrei</a>.</p>
        </div>
      </div>
    </div>
  </section>
</footer>
