---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 columns-6xl">
          <p>&copy; {currentYear} -  <a href="https://laravelmail.com">Laravel Mail</a>. <br/> Made with ❤️ by <a href="https://github.com/laravelmail">Stefan & Andrei</a>.</p>

        </div>
      </div>
    </div>
  </section>
</footer>
