---
const currentYear = new Date().getFullYear()
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V4RXY7MZHW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V4RXY7MZHW');
</script>
<footer>
  <section class="py-8">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 columns-6xl">
          <p>&copy; {currentYear} -  <a href="https://laravelmail.com">Laravel Mail</a>. <br/> Made with ❤️ by <a href="https://github.com/laravelmail">Stefan & Andrei</a>.</p>

        </div>
      </div>
    </div>
  </section>
</footer>
