---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>

  <section class="py-8">
    <div class="container">
      <p>&copy; {currentYear} - Laravel Mail <a href="https://laravel.com">Laravel</a>. <br/> Made with ❤️ by <a href="https://github.com/jumbophp">Stefan</a>.</p>
    </div>
  </section>
</footer>
