---
import { Icon } from 'astro-icon/components'
const currentYear = new Date().getFullYear()
let footer: any = []
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V4RXY7MZHW"></script>
<script>
  window.dataLayer = window.dataLayer || []

  function gtag() {
    dataLayer.push(arguments)
  }

  gtag('js', new Date())

  gtag('config', 'G-V4RXY7MZHW')
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M680WV2J7G"></script>
<script>
  window.dataLayer = window.dataLayer || []

  function gtag() {
    dataLayer.push(arguments)
  }

  gtag('js', new Date())

  gtag('config', 'G-M680WV2J7G')
</script>
<!-- Hotjar Tracking Code for https://laravelmail.com -->
<script>
  ;(function (h, o, t, j, a, r) {
    h.hj =
      h.hj ||
      function () {
        ;(h.hj.q = h.hj.q || []).push(arguments)
      }
    h._hjSettings = { hjid: 5106367, hjsv: 6 }
    a = o.getElementsByTagName('head')[0]
    r = o.createElement('script')
    r.async = 1
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv
    a.appendChild(r)
  })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=')
</script>
<!-- Google Tag Manager -->
<script>
  ;(function (w, d, s, l, i) {
    w[l] = w[l] || []
    w[l].push({
      'gtm.start': new Date().getTime(),
      event: 'gtm.js',
    })
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : ''
    j.async = true
    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
    f.parentNode.insertBefore(j, f)
  })(window, document, 'script', 'dataLayer', 'GTM-N3N6ZKFN')
</script>
<!-- End Google Tag Manager -->

<footer style="margin-top: 2vh" class="container mx-auto mt-10 pb-10">
  <div class="mb-4 flex flex-wrap gap-x-6 gap-y-1">
    <a class="font-serif hover:underline hover:underline-offset-2" href="/terms"> Terms</a>
    <a class="font-serif hover:underline hover:underline-offset-2" href="/cookies"> Cookies</a>
    <a class="font-serif hover:underline hover:underline-offset-2" href="/privacy"> Privacy</a>
  </div>
  <div
    class="border-main flex flex-col gap-4 border-t border-dashed pt-6 sm:flex-row-reverse sm:items-center sm:justify-between"
  >
    <div class="flex flex-wrap gap-x-4 gap-y-1">
      <a
        class="inline-flex items-center justify-center text-sm hover:underline hover:underline-offset-2"
        href="https://join.slack.com/t/laravelmail/shared_invite/zt-2pjzclfup-2BD3DsjE_LheSOsJSHY~Cw"
        target="_blank"
        rel="noopener noreferer"
      >
        Slack
      </a><a
        class="inline-flex items-center justify-center text-sm hover:underline hover:underline-offset-2"
        href="https://github.com/laravelmail"
        target="_blank"
        rel="noopener noreferer"
      >
        Github
      </a>
    </div>
    <p class="text-sm">
      © 2024 <a class="hover:underline hover:underline-offset-2" href="https://phpteacher.com">Stefan</a> & <a
        class="hover:underline hover:underline-offset-2"
        href="https://marmureanu.ro">Andrei</a
      >. All rights reserved.
    </p>
  </div>
</footer>
