---
import { Icon } from 'astro-icon/components'

const { src = '/src/assets/img/logo.svg' } = Astro.props
---

<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-12 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot><span class="text-gradient">Laravel</span> Mail</slot>
        </h1>

        <p class="text-3xl">
          The missing <b>mail dashboard</b> for Laravel.
        </p>
        <p class="text-2xl">
          Open-source self-hosted email dashboard for your laravel mails. Manage your own newsletters at a fraction of
          the cost.
        </p>
        <div class="flex flex-col gap-4 min-[500px]:flex-row">
          <a
            class="button has-icon color-secondary"
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/laravelmail/demo'})return false"
            href="#"
          >
            <Icon name="ion:calendar-outline" />
            Book Demo
          </a>
          <a
            class="button has-icon color-secondary"
            href="https://join.slack.com/t/laravelmail/shared_invite/zt-2pjzclfup-2BD3DsjE_LheSOsJSHY~Cw"
          >
            <Icon name="ion:chatbubble-outline" />
            Join us on Slack
          </a>
        </div>
      </div>
      <svg
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1937.5 1276.55"
      >
        <defs>
          <style>
            .cls-1 {
              fill: url(#linear-gradient-2);
            }

            .cls-2 {
              fill: url(#radial-gradient-7);
            }

            .cls-3 {
              clip-path: url(#clippath-20);
            }

            .cls-4 {
              clip-path: url(#clippath-11);
            }

            .cls-5 {
              clip-path: url(#clippath-16);
            }

            .cls-6 {
              fill: url(#linear-gradient-17);
            }

            .cls-7 {
              clip-path: url(#clippath-33);
            }

            .cls-8 {
              fill: #1d2949;
            }

            .cls-8,
            .cls-9,
            .cls-10,
            .cls-11,
            .cls-12,
            .cls-13,
            .cls-14,
            .cls-15,
            .cls-16,
            .cls-17,
            .cls-18,
            .cls-19,
            .cls-20 {
              fill-rule: evenodd;
            }

            .cls-21 {
              clip-path: url(#clippath-41);
            }

            .cls-22 {
              clip-path: url(#clippath-32);
            }

            .cls-23 {
              fill: url(#linear-gradient-15);
            }

            .cls-24 {
              fill: url(#linear-gradient-18);
            }

            .cls-25 {
              fill: url(#linear-gradient-14);
            }

            .cls-26 {
              fill: url(#linear-gradient-6);
            }

            .cls-27 {
              clip-path: url(#clippath-2);
            }

            .cls-28 {
              clip-path: url(#clippath-13);
            }

            .cls-29 {
              clip-path: url(#clippath-37);
            }

            .cls-30 {
              clip-path: url(#clippath-25);
            }

            .cls-31 {
              clip-path: url(#clippath-15);
            }

            .cls-32 {
              clip-path: url(#clippath-6);
            }

            .cls-33 {
              clip-path: url(#clippath-40);
            }

            .cls-34 {
              clip-path: url(#clippath-26);
            }

            .cls-9 {
              fill: #243e8f;
            }

            .cls-10 {
              fill: #9596ca;
            }

            .cls-35 {
              fill: url(#linear-gradient-11);
            }

            .cls-36 {
              clip-path: url(#clippath-7);
            }

            .cls-37 {
              fill: url(#radial-gradient-6);
            }

            .cls-38 {
              clip-path: url(#clippath-21);
            }

            .cls-39 {
              clip-path: url(#clippath-34);
            }

            .cls-40 {
              clip-path: url(#clippath-1);
            }

            .cls-41 {
              clip-path: url(#clippath-4);
            }

            .cls-42 {
              clip-path: url(#clippath-38);
            }

            .cls-43 {
              fill: url(#linear-gradient-10);
            }

            .cls-44 {
              clip-path: url(#clippath-36);
            }

            .cls-45 {
              clip-path: url(#clippath-27);
            }

            .cls-46 {
              fill: url(#radial-gradient);
            }

            .cls-11 {
              fill: url(#radial-gradient-8);
            }

            .cls-47 {
              clip-path: url(#clippath-44);
            }

            .cls-48 {
              fill: url(#linear-gradient-16);
            }

            .cls-49 {
              clip-path: url(#clippath-12);
            }

            .cls-12 {
              fill: #20b4e8;
            }

            .cls-50 {
              clip-path: url(#clippath-24);
            }

            .cls-51 {
              clip-path: url(#clippath-30);
            }

            .cls-52 {
              clip-path: url(#clippath-22);
            }

            .cls-13 {
              fill: #2a317d;
            }

            .cls-53 {
              fill: url(#linear-gradient-5);
            }

            .cls-54 {
              clip-path: url(#clippath-9);
            }

            .cls-55 {
              clip-path: url(#clippath);
            }

            .cls-56 {
              fill: url(#radial-gradient-2);
            }

            .cls-57 {
              opacity: 0.3;
            }

            .cls-58 {
              clip-path: url(#clippath-39);
            }

            .cls-59 {
              fill: none;
            }

            .cls-60 {
              clip-path: url(#clippath-19);
            }

            .cls-61 {
              clip-path: url(#clippath-31);
            }

            .cls-62 {
              clip-path: url(#clippath-3);
            }

            .cls-63 {
              fill: url(#linear-gradient-7);
            }

            .cls-64 {
              clip-path: url(#clippath-43);
            }

            .cls-14 {
              fill: url(#radial-gradient-3);
            }

            .cls-15 {
              fill: url(#radial-gradient-4);
            }

            .cls-65 {
              clip-path: url(#clippath-8);
            }

            .cls-66 {
              fill: url(#linear-gradient-9);
            }

            .cls-67 {
              clip-path: url(#clippath-29);
            }

            .cls-68 {
              clip-path: url(#clippath-18);
            }

            .cls-69 {
              clip-path: url(#clippath-14);
            }

            .cls-70 {
              fill: url(#linear-gradient-3);
            }

            .cls-71 {
              clip-path: url(#clippath-17);
            }

            .cls-72 {
              clip-path: url(#clippath-5);
            }

            .cls-16 {
              fill: url(#radial-gradient-9);
            }

            .cls-73 {
              fill: url(#linear-gradient);
            }

            .cls-74 {
              clip-path: url(#clippath-42);
            }

            .cls-17 {
              fill: #252667;
            }

            .cls-75 {
              clip-path: url(#clippath-10);
            }

            .cls-76 {
              clip-path: url(#clippath-23);
            }

            .cls-18 {
              fill: url(#radial-gradient-5);
            }

            .cls-77 {
              fill: url(#linear-gradient-19);
            }

            .cls-78 {
              fill: url(#linear-gradient-4);
            }

            .cls-79 {
              clip-path: url(#clippath-28);
            }

            .cls-80 {
              fill: url(#linear-gradient-8);
            }

            .cls-19 {
              fill: #e0e0f0;
            }

            .cls-81 {
              fill: url(#linear-gradient-12);
            }

            .cls-82 {
              clip-path: url(#clippath-35);
            }

            .cls-83 {
              fill: url(#linear-gradient-13);
            }
          </style>
          <clipPath id="clippath">
            <rect class="cls-59" y="163.83" width="1846" height="1112.72"></rect>
          </clipPath>
          <clipPath id="clippath-1">
            <rect class="cls-59" x="160.93" y="163.83" width="1685.07" height="978.89"></rect>
          </clipPath>
          <clipPath id="clippath-2">
            <rect class="cls-59" x="350.83" y="214.27" width="1282.52" height="961.59"></rect>
          </clipPath>
          <clipPath id="clippath-3">
            <rect class="cls-59" x="989.45" y="214.35" width="4.43" height="274.33"></rect>
          </clipPath>
          <clipPath id="clippath-4">
            <path
              class="cls-59"
              d="m991.67,488.68l-2.22-272.03c0-1.28.94-2.3,2.13-2.3s2.22,1.02,2.22,2.22v.09l-2.13,272.03h0Z"></path>
          </clipPath>
          <linearGradient
            id="linear-gradient"
            x1="29.87"
            y1="1176.6"
            x2="30.74"
            y2="1176.6"
            gradientTransform="translate(833.58 6493.36) scale(5.22 -5.22)"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#000"></stop>
            <stop offset="0" stop-color="#000"></stop>
            <stop offset=".18" stop-color="#030303"></stop>
            <stop offset=".31" stop-color="#0c0c0c"></stop>
            <stop offset=".43" stop-color="#1c1c1c"></stop>
            <stop offset=".54" stop-color="#333"></stop>
            <stop offset=".64" stop-color="#515151"></stop>
            <stop offset=".74" stop-color="#757575"></stop>
            <stop offset=".83" stop-color="#a0a0a0"></stop>
            <stop offset=".92" stop-color="#d1d1d1"></stop>
            <stop offset="1" stop-color="#fff"></stop>
            <stop offset="1" stop-color="#fff"></stop>
          </linearGradient>
          <clipPath id="clippath-5">
            <rect class="cls-59" x="989.45" y="897.95" width="4.43" height="277.91"></rect>
          </clipPath>
          <clipPath id="clippath-6">
            <path
              class="cls-59"
              d="m991.67,897.95l2.22,275.61h0c0,1.28-.94,2.3-2.22,2.3-1.19,0-2.22-1.02-2.22-2.22h0l2.22-275.69h0Z"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-2"
            y1="1190.15"
            y2="1190.15"
            gradientTransform="translate(833.58 7249.51) scale(5.22 -5.22)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-7">
            <rect class="cls-59" x="1091" y="870.52" width="172.09" height="305.42"></rect>
          </clipPath>
          <clipPath id="clippath-8">
            <path
              class="cls-59"
              d="m1091,870.52c13.46,25.64,28.03,50.69,42.68,75.65l21.98,37.49,5.45,9.37,5.37,9.46,10.73,18.91,85.71,151.14h0c.6,1.11.26,2.47-.77,3.07-1.02.6-2.39.26-2.98-.77h0l-83.75-152.24-10.48-19-5.2-9.54-5.28-9.46-21.47-37.74c-14.65-25.3-28.88-50.52-42-76.33"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-3"
            x1="27.08"
            y1="1094.26"
            x2="27.95"
            y2="1094.26"
            gradientTransform="translate(-4289.09 218354.06) scale(198.61 -198.61)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-9">
            <rect class="cls-59" x="391.38" y="353.05" width="345.64" height="206.43"></rect>
          </clipPath>
          <clipPath id="clippath-10">
            <path
              class="cls-59"
              d="m737.02,559.47l-344.53-202.17c-1.02-.6-1.45-2.04-.85-3.07.6-1.11,1.96-1.45,2.98-.85h0l342.4,206.09h0Z"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-4"
            x1="27.48"
            y1="1090.78"
            x2="28.38"
            y2="1090.78"
            gradientTransform="translate(260570.83 -424375.22) rotate(-150) scale(456.48 -456.48)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-11">
            <rect class="cls-59" x="1258.07" y="830.65" width="345.64" height="206.43"></rect>
          </clipPath>
          <clipPath id="clippath-12">
            <path
              class="cls-59"
              d="m1258.07,830.65l344.44,202.17c1.02.6,1.45,1.96.85,3.07-.6,1.11-1.96,1.45-2.98.85h0l-342.31-206.09h0Z"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-5"
            x1="26.49"
            y1="1092.6"
            x2="27.39"
            y2="1092.6"
            gradientTransform="translate(-258601.02 426710.66) rotate(30) scale(456.48 -456.48)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-13">
            <rect class="cls-59" x="350.83" y="691.02" width="398.71" height="4.52"></rect>
          </clipPath>
          <clipPath id="clippath-14">
            <path
              class="cls-59"
              d="m749.54,693.32l-396.5,2.3c-1.19,0-2.22-1.02-2.22-2.22,0-1.28.94-2.3,2.22-2.3h0l396.5,2.22h0Z"></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-6"
            x1="26.97"
            y1="1090.68"
            x2="27.84"
            y2="1090.68"
            gradientTransform="translate(13071.11 -497527.34) rotate(-180) scale(456.8 -456.8)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-15">
            <rect class="cls-59" x="1190.34" y="691.02" width="398.71" height="4.52"></rect>
          </clipPath>
          <clipPath id="clippath-16">
            <path
              class="cls-59"
              d="m1190.34,693.32l396.5-2.3c1.19,0,2.22,1.02,2.22,2.22,0,1.28-.94,2.3-2.22,2.3h0l-396.5-2.22h0Z"></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-7"
            x1="27.04"
            y1="1092.75"
            x2="27.92"
            y2="1092.75"
            gradientTransform="translate(-11165.8 499862.06) scale(456.8 -456.8)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-17">
            <rect class="cls-59" x="720.15" y="870.52" width="172.09" height="305.34"></rect>
          </clipPath>
          <clipPath id="clippath-18">
            <path
              class="cls-59"
              d="m892.24,870.52c-3.41,6.39-6.99,12.69-10.56,18.91-1.79,3.15-3.66,6.22-5.54,9.29-1.79,3.15-3.49,6.3-5.28,9.54l-20.96,38.08-41.92,76.16-83.75,152.24c-.6,1.11-1.96,1.45-2.98.85s-1.45-2.04-.85-3.07h0l85.71-151.14,42.85-75.57,21.38-37.74c1.79-3.15,3.58-6.3,5.37-9.46,1.96-3.07,3.83-6.13,5.71-9.29,3.75-6.22,7.33-12.52,10.82-18.83"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-8"
            x1="27.33"
            y1="1094.27"
            x2="28.21"
            y2="1094.27"
            gradientTransform="translate(-4709 218356.4) scale(198.61 -198.61)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-19">
            <rect class="cls-59" x="1091" y="214.35" width="170.05" height="301.76"></rect>
          </clipPath>
          <clipPath id="clippath-20">
            <path
              class="cls-59"
              d="m1091,516.03c6.99-12.52,13.8-25.05,21.04-37.49l2.73-4.6,1.36-2.3c.43-.77.77-1.62,1.02-2.39.51-1.7,1.02-3.49,2.04-5.03.94-1.53,1.79-3.07,2.64-4.6,1.79-3.15,3.49-6.22,5.28-9.37.94-1.53,1.87-3.07,2.81-4.6.51-.77,1.02-1.53,1.53-2.22l.77-1.11c.26-.34.43-.68.6-1.11.77-1.53,1.11-3.32,1.79-5.03.34-.85.77-1.7,1.28-2.47l1.45-2.22c1.96-2.98,3.75-6.05,5.62-9.12,1.79-3.07,3.58-6.22,5.28-9.29l2.64-4.69c.85-1.53,1.7-3.15,2.56-4.69,6.82-12.61,13.8-25.13,20.7-37.66l20.87-37.49c6.99-12.52,13.72-25.13,20.62-37.66l41.23-75.4c.6-1.11,1.96-1.45,2.98-.85s1.45,2.04.85,3.07h0l-42.17,74.8c-7.07,12.44-13.97,24.96-21.04,37.4l-21.38,37.23c-7.16,12.44-14.23,24.79-21.21,37.32-.85,1.53-1.7,3.15-2.64,4.69l-2.73,4.6c-1.79,3.07-3.58,6.22-5.45,9.29-1.87,3.07-3.75,6.13-5.71,9.12l-1.53,2.22c-.51.68-.85,1.45-1.19,2.22-.68,1.62-1.02,3.41-1.87,5.11-.17.43-.43.85-.68,1.19l-.77,1.11c-.51.68-1.02,1.45-1.53,2.22-1.02,1.45-1.96,2.98-2.9,4.52-1.87,3.07-3.58,6.13-5.37,9.29-.85,1.53-1.79,3.07-2.73,4.6-.94,1.45-1.45,3.15-2.04,4.86-.34.85-.68,1.7-1.11,2.56l-1.36,2.3-2.81,4.6c-7.33,12.18-14.31,24.71-21.47,37.06"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-9"
            x1="27.08"
            y1="1093.95"
            x2="27.95"
            y2="1093.95"
            gradientTransform="translate(-4226.22 215096.34) scale(196.29 -196.29)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-21">
            <rect class="cls-59" x="791.37" y="214.52" width="52.39" height="129.16"></rect>
          </clipPath>
          <clipPath id="clippath-22">
            <path
              class="cls-59"
              d="m843.77,343.68c-17.12-42.17-35.44-83.75-52.22-126.09-.43-1.19.09-2.47,1.19-2.98,1.11-.51,2.39.09,2.9,1.28v.09c15.34,42.77,32.37,85.02,48.14,127.71"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-10"
            x1="27.75"
            y1="1098.71"
            x2="28.63"
            y2="1098.71"
            gradientTransform="translate(-934.03 68596.6) scale(62.18 -62.18)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-23">
            <rect class="cls-59" x="1134.62" y="1054.71" width="49.16" height="121.06"></rect>
          </clipPath>
          <clipPath id="clippath-24">
            <path
              class="cls-59"
              d="m1134.54,1054.71c7.67,19.85,16.27,39.36,24.37,59.13,2.04,4.94,4,9.88,5.96,14.82l1.45,3.66c.51,1.19,1.11,2.39,1.62,3.66l3.24,7.24,3.24,7.24,1.62,3.66.85,1.79.43.94c.17.34.34.85.51,1.36.09.51.17,1.02.17,1.36v.85c0,.17.09.34.09.51,0,.09.09.17.09.26l.17.43c.6,1.28,1.19,2.56,1.62,3.75,1.02,2.47,1.96,4.77,3.24,6.9.68,1.02.34,2.47-.68,3.15-1.02.68-2.39.34-3.07-.68v-.09h0c-1.45-2.47-2.39-5.11-3.32-7.67-.43-1.28-.94-2.47-1.45-3.58l-.17-.51c-.09-.26-.17-.43-.26-.68-.17-.51-.26-1.02-.26-1.45v-1.7c0-.17-.09-.34-.17-.51l-.34-.94-.77-1.87-1.53-3.75-3.07-7.41-3.07-7.41c-.51-1.28-1.02-2.47-1.53-3.75l-1.36-3.83c-1.79-5.03-3.58-10.05-5.45-14.99-7.24-19.85-15.16-39.7-22.15-59.89"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-11"
            x1="26.98"
            y1="1100.59"
            x2="27.86"
            y2="1100.59"
            gradientTransform="translate(-446.46 65521.88) scale(58.52 -58.52)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-25">
            <rect class="cls-59" x="563.31" y="350.15" width="128.98" height="103.68"></rect>
          </clipPath>
          <clipPath id="clippath-26">
            <path
              class="cls-59"
              d="m692.38,453.83l-128.13-99.59c-.94-.77-1.19-2.13-.43-3.15s2.13-1.19,3.07-.43h.09l125.41,103.17h0Z"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-12"
            x1="28.3"
            y1="1089.64"
            x2="29.2"
            y2="1089.64"
            gradientTransform="translate(130366.92 -157826.68) rotate(-142.16) scale(187.72 -187.72)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-27">
            <rect class="cls-59" x="454.94" y="615.28" width="161.27" height="24.79"></rect>
          </clipPath>
          <clipPath id="clippath-28">
            <path
              class="cls-59"
              d="m616.21,640.07l-159.31-20.28c-1.19-.17-2.04-1.28-1.87-2.56.17-1.28,1.28-2.13,2.47-1.96h.09l158.63,24.79h0Z"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-13"
            x1="27.06"
            y1="1089.17"
            x2="27.94"
            y2="1089.17"
            gradientTransform="translate(33574.73 -201419.91) rotate(-172.16) scale(187.91 -187.91)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-29">
            <rect class="cls-59" x="1472.08" y="821.02" width="161.27" height="24.79"></rect>
          </clipPath>
          <clipPath id="clippath-30">
            <path
              class="cls-59"
              d="m1472.08,821.02l159.31,20.28c1.19.17,2.04,1.28,1.87,2.56-.17,1.28-1.28,2.13-2.47,1.96h-.09l-158.63-24.79h0Z"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-14"
            x1="26.44"
            y1="1094.24"
            x2="27.32"
            y2="1094.24"
            gradientTransform="translate(-31500.65 203840.87) rotate(7.84) scale(187.91 -187.91)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-31">
            <rect class="cls-59" x="1342.58" y="481.44" width="150.88" height="64.66"></rect>
          </clipPath>
          <clipPath id="clippath-32">
            <path
              class="cls-59"
              d="m1342.58,546.1l147.81-64.49c1.11-.51,2.39.09,2.9,1.19.51,1.19-.09,2.47-1.19,2.98h-.09l-149.43,60.32h0Z"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-15"
            x1="27.82"
            y1="1094.03"
            x2="28.71"
            y2="1094.03"
            gradientTransform="translate(74021.19 192848.07) rotate(-22.16) scale(187.85 -187.85)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-33">
            <rect class="cls-59" x="658.47" y="1001.55" width="100.7" height="132.82"></rect>
          </clipPath>
          <clipPath id="clippath-34">
            <path
              class="cls-59"
              d="m759.17,1001.55l-96.78,131.97c-.77,1.02-2.13,1.19-3.07.43s-1.19-2.22-.43-3.15v-.09l100.27-129.16h0Z"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-16"
            x1="24.78"
            y1="1090.29"
            x2="25.69"
            y2="1090.29"
            gradientTransform="translate(-157911.09 -128135.85) rotate(127.84) scale(187.59 -187.59)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-35">
            <rect class="cls-59" x="1260.8" y="239.06" width="100.7" height="132.82"></rect>
          </clipPath>
          <clipPath id="clippath-36">
            <path
              class="cls-59"
              d="m1260.8,371.96l96.78-131.97c.77-1.02,2.13-1.19,3.07-.43s1.19,2.22.43,3.15v.09l-100.27,129.16Z"></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-17"
            x1="28.84"
            y1="1093.28"
            x2="29.75"
            y2="1093.28"
            gradientTransform="translate(159906.26 130455.1) rotate(-52.16) scale(187.59 -187.59)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-37">
            <rect class="cls-59" x="937.74" y="972.84" width="24.11" height="166.04"></rect>
          </clipPath>
          <clipPath id="clippath-38">
            <path
              class="cls-59"
              d="m961.85,972.84l-19.68,164.09c-.17,1.28-1.28,2.13-2.47,1.96s-2.04-1.28-1.87-2.56v-.09l24.02-163.4h0Z"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-18"
            x1="24.4"
            y1="1091.45"
            x2="25.31"
            y2="1091.45"
            gradientTransform="translate(-201050.74 -31461.85) rotate(97.84) scale(187.41 -187.41)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-39">
            <rect class="cls-59" x="1043.29" y="214.27" width="14.23" height="92.35"></rect>
          </clipPath>
          <clipPath id="clippath-40">
            <path
              class="cls-59"
              d="m1043.29,306.62c4.34-29.99,6.3-60.23,9.88-90.39.17-1.28,1.28-2.13,2.47-1.96s2.04,1.28,1.87,2.56v.09c-5.03,29.82-8.43,60.06-14.23,89.71"
            ></path>
          </clipPath>
          <linearGradient
            id="linear-gradient-19"
            x1="27.47"
            y1="1114.37"
            x2="28.34"
            y2="1114.37"
            gradientTransform="translate(526.65 21121.45) scale(18.72 -18.72)"
            xlink:href="#linear-gradient"></linearGradient>
          <clipPath id="clippath-41">
            <polygon
              class="cls-59"
              points="516.96 441.48 576.43 398.37 257.88 263.42 253.45 266.66 487.14 419.5 404.76 479.22 873.67 668.01 516.96 441.48"
            ></polygon>
          </clipPath>
          <radialGradient
            id="radial-gradient"
            cx="26.78"
            cy="1089.44"
            fx="26.78"
            fy="1089.44"
            r=".84"
            gradientTransform="translate(180295.03 -495810.69) rotate(-160.36) scale(473.89 -484.59) skewX(-1.17)"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#5d05a1"></stop>
            <stop offset=".31" stop-color="#c32185"></stop>
            <stop offset=".45" stop-color="#ef2e79"></stop>
            <stop offset=".99" stop-color="#fbb120"></stop>
            <stop offset="1" stop-color="#fbb120"></stop>
          </radialGradient>
          <clipPath id="clippath-42">
            <polygon
              class="cls-59"
              points="1471.99 405.1 1531.97 445.74 1187.1 679.09 1643.83 479.48 1560.68 423.25 1753.14 289.24 1753.14 276.2 1471.99 405.1"
            ></polygon>
          </clipPath>
          <radialGradient
            id="radial-gradient-2"
            cx="27.3"
            cy="1090.3"
            fx="27.3"
            fy="1090.3"
            r=".76"
            gradientTransform="translate(-292803.75 -450225.52) rotate(143.66) scale(489.41 -492.96) skewX(1.76)"
            xlink:href="#radial-gradient"></radialGradient>
          <radialGradient
            id="radial-gradient-3"
            cx="923.67"
            cy="-6.3"
            fx="923.67"
            fy="-6.3"
            r="15.14"
            gradientTransform="translate(-2.44 617.36) scale(1.16 1.19)"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#fbb120"></stop>
            <stop offset="0" stop-color="#fbb120"></stop>
            <stop offset=".55" stop-color="#ef2e79"></stop>
            <stop offset=".69" stop-color="#c32185"></stop>
            <stop offset="1" stop-color="#5d05a1"></stop>
          </radialGradient>
          <radialGradient
            id="radial-gradient-4"
            cx="893.01"
            cy="51.51"
            fx="893.01"
            fy="51.51"
            r="24.5"
            gradientTransform="translate(0 616)"
            xlink:href="#radial-gradient-3"></radialGradient>
          <radialGradient
            id="radial-gradient-5"
            cx="853.4"
            cy="-80.19"
            fx="853.4"
            fy="-80.19"
            r="15.13"
            gradientTransform="translate(0 616)"
            xlink:href="#radial-gradient-3"></radialGradient>
          <clipPath id="clippath-43">
            <polygon
              class="cls-59"
              points="1484.69 1072.94 1310.89 943.7 1342.84 924.02 1171.94 836.1 1296.49 931.35 1252.19 958.53 1484.69 1072.94"
            ></polygon>
          </clipPath>
          <radialGradient
            id="radial-gradient-6"
            cx="24.89"
            cy="1090.23"
            fx="24.89"
            fy="1090.23"
            r=".76"
            gradientTransform="translate(169514.91 -425728.58) rotate(-158.62) scale(411.75 -420.62) skewX(-1.18)"
            xlink:href="#radial-gradient"></radialGradient>
          <clipPath id="clippath-44">
            <polygon
              class="cls-59"
              points="546.18 1057.27 725.6 936.46 731.82 974.37 872.9 841.47 741.96 927.09 733.36 874.61 546.18 1057.27"
            ></polygon>
          </clipPath>
          <radialGradient
            id="radial-gradient-7"
            cx="24.52"
            cy="1090.81"
            fx="24.52"
            fy="1090.81"
            r=".76"
            gradientTransform="translate(325704.27 316852.55) rotate(-49.03) scale(417.54 -414.79) skewX(1.89)"
            xlink:href="#radial-gradient"></radialGradient>
          <radialGradient
            id="radial-gradient-8"
            cx="812.92"
            cy="4.25"
            fx="812.92"
            fy="4.25"
            r="15.14"
            gradientTransform="translate(49.78 450.51) rotate(9.52) scale(1.16 1.19)"
            xlink:href="#radial-gradient-3"></radialGradient>
          <radialGradient
            id="radial-gradient-9"
            cx="873.71"
            cy="131.37"
            fx="873.71"
            fy="131.37"
            r="15.14"
            gradientTransform="translate(49.78 450.51) rotate(9.52) scale(1.16 1.19)"
            xlink:href="#radial-gradient-3"></radialGradient>
        </defs>
        <g id="Layer_1-2">
          <g class="cls-55">
            <g class="cls-40">
              <g class="cls-27">
                <g class="cls-62">
                  <g class="cls-41">
                    <rect class="cls-73" x="989.45" y="214.35" width="4.43" height="274.33"></rect>
                  </g>
                </g>
                <g class="cls-72">
                  <g class="cls-32">
                    <rect class="cls-1" x="989.45" y="897.95" width="4.43" height="277.91"></rect>
                  </g>
                </g>
                <g class="cls-36">
                  <g class="cls-65">
                    <rect class="cls-70" x="1091" y="870.52" width="172.43" height="305.68"></rect>
                  </g>
                </g>
                <g class="cls-54">
                  <g class="cls-75">
                    <polygon class="cls-78" points="650.55 714.19 304.4 507.85 477.6 198.08 823.66 404.42 650.55 714.19"
                    ></polygon>
                  </g>
                </g>
                <g class="cls-4">
                  <g class="cls-49">
                    <polygon
                      class="cls-53"
                      points="1344.54 675.94 1690.69 882.36 1517.49 1192.05 1171.34 985.7 1344.54 675.94"></polygon>
                  </g>
                </g>
                <g class="cls-28">
                  <g class="cls-69">
                    <rect class="cls-26" x="350.83" y="691.02" width="398.71" height="4.52"></rect>
                  </g>
                </g>
                <g class="cls-31">
                  <g class="cls-5">
                    <rect class="cls-63" x="1190.34" y="691.02" width="398.71" height="4.52"></rect>
                  </g>
                </g>
                <g class="cls-71">
                  <g class="cls-68">
                    <rect class="cls-80" x="719.81" y="870.52" width="172.43" height="305.68"></rect>
                  </g>
                </g>
                <g class="cls-60">
                  <g class="cls-3">
                    <rect class="cls-66" x="1091" y="214.01" width="170.39" height="302.1"></rect>
                  </g>
                </g>
                <g class="cls-38">
                  <g class="cls-52">
                    <rect class="cls-43" x="791.03" y="214.18" width="52.65" height="129.5"></rect>
                  </g>
                </g>
                <g class="cls-76">
                  <g class="cls-50">
                    <rect class="cls-35" x="1134.54" y="1054.71" width="49.5" height="121.4"></rect>
                  </g>
                </g>
                <g class="cls-30">
                  <g class="cls-34">
                    <polygon class="cls-81" points="643.64 518.58 514.23 414.73 611.7 285.15 741.11 389 643.64 518.58"
                    ></polygon>
                  </g>
                </g>
                <g class="cls-45">
                  <g class="cls-79">
                    <polygon
                      class="cls-83"
                      points="613.15 662.56 451.53 639.56 457.83 592.62 619.45 615.53 613.15 662.56"></polygon>
                  </g>
                </g>
                <g class="cls-67">
                  <g class="cls-51">
                    <polygon
                      class="cls-25"
                      points="1475.06 798.45 1636.76 821.45 1630.46 868.48 1468.76 845.47 1475.06 798.45"></polygon>
                  </g>
                </g>
                <g class="cls-61">
                  <g class="cls-22">
                    <polygon
                      class="cls-23"
                      points="1320.6 490.38 1472.25 426.57 1515.78 536.81 1364.14 600.62 1320.6 490.38"></polygon>
                  </g>
                </g>
                <g class="cls-7">
                  <g class="cls-39">
                    <polygon
                      class="cls-48"
                      points="821.62 1051.65 721.17 1185.15 595.68 1084.53 696.12 951.03 821.62 1051.65"></polygon>
                  </g>
                </g>
                <g class="cls-82">
                  <g class="cls-44">
                    <polygon
                      class="cls-6"
                      points="1198.35 321.87 1298.79 188.28 1424.2 288.9 1323.76 422.48 1198.35 321.87"></polygon>
                  </g>
                </g>
                <g class="cls-29">
                  <g class="cls-42">
                    <polygon
                      class="cls-24"
                      points="983.57 975.99 961.34 1142.46 915.84 1135.99 938.08 969.43 983.57 975.99"></polygon>
                  </g>
                </g>
                <g class="cls-58">
                  <g class="cls-33">
                    <rect class="cls-77" x="1043.29" y="214.18" width="14.4" height="92.52"></rect>
                  </g>
                </g>
              </g>
            </g>
            <g class="cls-21">
              <polygon class="cls-46" points="780.72 908.18 129.15 675.77 346.4 26.5 997.89 258.91 780.72 908.18"
              ></polygon>
            </g>
            <g class="cls-74">
              <polygon class="cls-56" points="1937.5 543.46 1377.6 955.29 1002.74 411.83 1562.64 0 1937.5 543.46"
              ></polygon>
            </g>
            <g class="cls-57">
              <path
                class="cls-20"
                d="m894.03,729.44s6.39,30.24,44.56,32.03c-3.32,16.27-10.9,32.63-13.38,47.03-.85,4.69-5.28,30.5-20.19,37.74-14.91,7.16-28.54-28.88-25.73-47.45,0-.09,15.76-54.7,14.74-69.35h0Z"
              ></path>
              <path
                class="cls-20"
                d="m894.03,729.44s6.39,30.24,44.56,32.03c-2.39,11.84-6.99,23.6-10.31,34.76-1.02-17.46-4.43-26.5-4.43-26.5-15.16-3.24-25.3-11.25-32.12-20.53,1.62-8.43,2.64-15.68,2.3-19.77h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1162.91,729.44s-6.39,30.24-44.56,32.03c3.32,16.27,10.9,32.63,13.46,47.03.85,4.69,5.2,30.5,20.19,37.74,14.91,7.16,28.46-28.88,25.73-47.45,0-.09-15.76-54.7-14.82-69.35h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1162.91,729.44s-6.39,30.24-44.56,32.03c2.39,11.84,7.07,23.6,10.39,34.76,1.02-17.46,4.43-26.5,4.43-26.5,15.25-3.24,25.39-11.25,32.12-20.53-1.62-8.43-2.64-15.68-2.39-19.77h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1110,686.93s46.94-8.69,55.12,28.88c8.18,37.57-31.18,52.39-48.22,47.79,0,0-30.84-58.02-30.24-60.49.68-2.56,23.34-16.19,23.34-16.19h0Z"
              ></path>
              <path
                class="cls-20"
                d="m946.94,686.93s-46.94-8.69-55.12,28.88c-8.18,37.57,31.18,52.39,48.22,47.79,0,0,30.93-58.02,30.24-60.49-.6-2.56-23.34-16.19-23.34-16.19h0Z"
              ></path>
              <path
                class="cls-20"
                d="m975.82,693.74s-36.8,11.42-36.55,52.31c.09,7.24.85,16.7,2.47,27.43,7.5,49.5,32.89,124.9,86.73,123.96,53.76.94,79.23-74.46,86.73-123.96,1.62-10.65,2.39-20.19,2.47-27.43.26-40.89-36.46-52.31-36.46-52.31-16.87,14.57-52.65,11.16-52.65,11.16,0,0-35.87,3.32-52.74-11.16h0Z"
              ></path>
              <path
                class="cls-20"
                d="m967.04,697.75c-5.62,3.24-12.95,8.6-18.66,16.87,7.16,9.54,27.01,25.39,80.08,25.98,53.08-.6,72.93-16.44,80.08-25.98-5.71-8.35-13.03-13.72-18.66-16.87l-18.06,1.7c-18.06,7.84-43.36,5.45-43.36,5.45,0,0-25.3,2.39-43.36-5.45l-18.06-1.7Z"
              ></path>
              <path
                class="cls-20"
                d="m1028.47,506.06s-96.01,2.3-109.22,73.1c-13.29,70.8,5.54,143.38,109.22,144.58,103.68-1.19,122.51-73.69,109.22-144.58-13.21-70.8-109.22-73.1-109.22-73.1h0Z"
              ></path>
              <path
                class="cls-20"
                d="m987.32,562.63s22.66,9.71,41.23,5.71c18.57,4,41.23-5.71,41.23-5.71,14.4-8.26,62.53,3.75,46.43,64.83-16.02,61.17-87.67,59.13-87.67,59.13,0,0-71.65,2.04-87.67-59.13-16.1-61.17,32.03-73.1,46.43-64.83h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1028.47,506.06s-16.95.43-37.66,6.13c3.92,12.69,12.69,34.25,27.94,35.87h19.34c15.34-1.62,24.11-23.09,28.03-35.87-20.62-5.71-37.66-6.13-37.66-6.13h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1130.96,805.01c.43,1.53.77,2.73.85,3.41l.09.51c5.11-3.24,17.38-8.09,45.92-9.46,0-.26-.09-.51-.09-.77,0,0-.51-1.7-1.28-4.52-13.38.17-33.31,2.04-45.49,10.82h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1137.09,576.09c6.65,2.98,18.06,9.29,18.06,15.42,0,0,8.18,61.68-18.15,61.94h0c6.13-22.66,5.54-48.56.68-74.2-.17-1.11-.34-2.13-.6-3.15h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1156.35,615.53c-.43,17.29-4.17,37.74-19.34,37.91h0c2.64-9.8,4.09-20.28,4.43-31.1,6.22-1.87,11.08-4.26,14.91-6.82h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1133.34,576.6s.85-52.31-39.53-75.74c0,0-25.13.85-22.66-17.98s28.8-2.3,29.56,6.73c-.68,3.83,64.41,57,35.95,98.66l-3.32-11.67h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1115.28,773.4c-.17,1.19-.34,2.39-.6,3.66-20.7,8.78-47.03,11.08-47.03,11.08-2.73,45.41-39.1,40.98-39.1,40.98v-2.39c39.79-1.11,36.8-42.85,36.8-42.85,28.37-.94,49.92-10.48,49.92-10.48h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1077.54,593.38h0c-7.58,0-13.8,6.39-13.8,14.31v24.54c0,7.84,6.22,14.31,13.8,14.31h0c7.58,0,13.8-6.39,13.8-14.31v-24.54c.09-7.84-6.13-14.31-13.8-14.31h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1065.1,601.65c-.85,1.87-1.36,3.92-1.36,6.05v24.54c0,7.84,6.22,14.31,13.8,14.31h0c2.13,0,4.09-.51,5.88-1.36.85-1.87,1.28-3.92,1.28-6.05v-24.54c0-7.84-6.22-14.31-13.8-14.31h0c-2.04,0-4,.51-5.79,1.36h0Z"
              ></path>
              <path
                class="cls-20"
                d="m926.07,805.01c-.43,1.53-.77,2.73-.85,3.41l-.09.51c-5.11-3.24-17.38-8.09-45.92-9.46,0-.26.09-.51.09-.77,0,0,.51-1.7,1.28-4.52,13.29.17,33.31,2.04,45.49,10.82h0Z"
              ></path>
              <path
                class="cls-20"
                d="m919.93,576.09c-6.65,2.98-18.06,9.29-18.06,15.42,0,0-8.26,61.68,18.15,61.94h0c-6.13-22.66-5.54-48.56-.77-74.2.17-1.11.43-2.13.68-3.15h0Z"
              ></path>
              <path
                class="cls-20"
                d="m900.68,615.53c.43,17.29,4.17,37.74,19.34,37.91h0c-2.64-9.8-4.09-20.28-4.43-31.1-6.22-1.87-11.16-4.26-14.91-6.82h0Z"
              ></path>
              <path
                class="cls-20"
                d="m923.68,576.6s-.85-52.31,39.53-75.74c0,0,25.22.85,22.66-17.98-2.47-18.83-28.8-2.3-29.56,6.73.68,3.83-64.41,57-35.95,98.66l3.32-11.67h0Z"
              ></path>
              <path
                class="cls-20"
                d="m941.74,773.4c.17,1.19.34,2.39.6,3.66,20.7,8.78,47.03,11.08,47.03,11.08,2.73,45.41,39.1,40.98,39.1,40.98v-2.39c-39.79-1.11-36.8-42.85-36.8-42.85-28.46-.94-49.92-10.48-49.92-10.48h0Z"
              ></path>
              <path
                class="cls-20"
                d="m942.68,779.02c8.52,49.41,33.99,119.27,85.79,118.34,51.8.94,77.27-68.92,85.79-118.34-8.43,21.04-35.78,78.46-85.79,78.89-50.01-.43-77.44-57.85-85.79-78.89h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1028.47,754.4c17.46,0,31.69,14.65,31.69,32.71s-14.14,32.71-31.69,32.71-31.69-14.65-31.69-32.71c.09-18.06,14.23-32.71,31.69-32.71h0Z"
              ></path>
              <path
                class="cls-20"
                d="m1028.47,754.4c15.34,0,28.03,11.25,31.01,26.15-2.98,14.91-15.68,26.15-31.01,26.15s-28.11-11.25-31.01-26.15c2.98-14.91,15.76-26.15,31.01-26.15h0Z"
              ></path>
              <path
                class="cls-20"
                d="m979.4,593.38h0c7.58,0,13.8,6.39,13.8,14.31v24.54c0,7.84-6.22,14.31-13.8,14.31h0c-7.58,0-13.8-6.39-13.8-14.31v-24.54c0-7.84,6.22-14.31,13.8-14.31h0Z"
              ></path>
              <path
                class="cls-20"
                d="m991.92,601.65c.85,1.87,1.28,3.92,1.28,6.05v24.54c0,7.84-6.22,14.31-13.8,14.31h0c-2.13,0-4.09-.51-5.88-1.36-.85-1.87-1.28-3.92-1.28-6.05v-24.54c0-7.84,6.22-14.31,13.8-14.31h0c2.13,0,4.09.51,5.88,1.36h0Z"
              ></path>
              <path
                class="cls-20"
                d="m995.58,524.97c4.86,10.9,12.44,21.9,23.26,23.09h19.34c10.82-1.11,18.4-12.18,23.26-23.09-14.14-3.92-26.58-5.37-32.89-5.88-6.47.51-18.83,1.96-32.97,5.88h0Z"
              ></path>
            </g>
            <path
              class="cls-19"
              d="m885.17,717.6s6.39,30.24,44.56,32.03c-3.32,16.27-10.9,32.63-13.38,47.03-.85,4.69-5.28,30.5-20.19,37.74-14.91,7.16-28.54-28.88-25.73-47.45-.09-.09,15.68-54.7,14.74-69.35h0Z"
            ></path>
            <path
              class="cls-10"
              d="m885.17,717.6s6.39,30.24,44.56,32.03c-2.39,11.84-6.99,23.6-10.31,34.76-1.02-17.46-4.43-26.5-4.43-26.5-15.16-3.24-25.3-11.25-32.12-20.53,1.53-8.35,2.56-15.68,2.3-19.77h0Z"
            ></path>
            <path
              class="cls-19"
              d="m1153.96,717.6s-6.39,30.24-44.56,32.03c3.32,16.27,10.9,32.63,13.46,47.03.85,4.69,5.2,30.5,20.19,37.74,14.91,7.16,28.46-28.88,25.73-47.45,0-.09-15.76-54.7-14.82-69.35h0Z"
            ></path>
            <path
              class="cls-10"
              d="m1153.96,717.6s-6.39,30.24-44.56,32.03c2.39,11.84,7.07,23.6,10.39,34.76,1.02-17.46,4.43-26.5,4.43-26.5,15.25-3.24,25.39-11.25,32.12-20.53-1.53-8.35-2.64-15.68-2.39-19.77h0Z"
            ></path>
            <path
              class="cls-8"
              d="m1101.14,675.08s46.94-8.69,55.12,28.88c8.18,37.57-31.18,52.39-48.22,47.79,0,0-30.84-58.02-30.24-60.49.68-2.56,23.34-16.19,23.34-16.19h0Z"
            ></path>
            <path
              class="cls-8"
              d="m938.08,675.08s-46.94-8.69-55.12,28.88c-8.18,37.57,31.18,52.39,48.22,47.79,0,0,30.93-58.02,30.24-60.49-.68-2.56-23.34-16.19-23.34-16.19h0Z"
            ></path>
            <path
              class="cls-19"
              d="m966.87,681.9s-36.8,11.42-36.55,52.31c.09,7.24.85,16.7,2.47,27.43,7.5,49.5,32.89,124.9,86.73,123.96,53.76.94,79.23-74.46,86.73-123.96,1.62-10.65,2.39-20.19,2.47-27.43.26-40.89-36.46-52.31-36.46-52.31-16.87,14.57-52.65,11.16-52.65,11.16,0,0-35.87,3.41-52.74-11.16h0Z"
            ></path>
            <path
              class="cls-10"
              d="m958.18,685.9c-5.62,3.24-12.95,8.6-18.66,16.87,7.16,9.54,27.01,25.39,80.08,25.98,53.08-.6,72.93-16.44,80.08-25.98-5.71-8.35-13.03-13.72-18.66-16.87l-18.06,1.7c-18.06,7.84-43.36,5.45-43.36,5.45,0,0-25.3,2.39-43.36-5.45l-18.06-1.7Z"
            ></path>
            <path
              class="cls-19"
              d="m1019.61,494.22s-96.01,2.3-109.22,73.1c-13.29,70.8,5.54,143.38,109.22,144.58,103.68-1.19,122.51-73.69,109.22-144.58-13.29-70.8-109.22-73.1-109.22-73.1h0Z"
            ></path>
            <path
              class="cls-13"
              d="m978.38,550.78s22.66,9.71,41.23,5.71c18.57,4,41.23-5.71,41.23-5.71,14.4-8.26,62.53,3.75,46.43,64.83-16.02,61.17-87.67,59.13-87.67,59.13,0,0-71.65,2.04-87.67-59.13-16.02-61.17,32.03-73.1,46.43-64.83h0Z"
            ></path>
            <path
              class="cls-12"
              d="m1019.61,494.22s-16.95.43-37.66,6.13c3.92,12.69,12.69,34.25,27.94,35.87h19.34c15.34-1.62,24.11-23.09,28.03-35.87-20.7-5.71-37.66-6.13-37.66-6.13h0Z"
            ></path>
            <path
              class="cls-17"
              d="m1122.01,793.16c.43,1.53.77,2.73.85,3.41l.09.51c5.11-3.24,17.38-8.09,45.92-9.46,0-.26-.09-.51-.09-.77,0,0-.51-1.7-1.28-4.52-13.29.17-33.31,2.04-45.49,10.82h0Z"
            ></path>
            <path
              class="cls-12"
              d="m1128.15,564.25c6.65,2.98,18.06,9.29,18.06,15.42,0,0,8.18,61.68-18.15,61.94h0c6.13-22.66,5.54-48.56.68-74.2-.09-1.11-.34-2.13-.6-3.15h0Z"
            ></path>
            <path
              class="cls-9"
              d="m1147.4,603.69c-.43,17.29-4.17,37.74-19.34,37.91h0c2.64-9.8,4.09-20.28,4.43-31.1,6.22-1.87,11.16-4.26,14.91-6.82h0Z"
            ></path>
            <path
              class="cls-8"
              d="m1124.4,564.76s.85-52.31-39.53-75.74c0,0-25.13.85-22.66-17.98,2.47-18.83,28.8-2.3,29.56,6.73-.68,3.83,64.41,57,35.95,98.66l-3.32-11.67h0Z"
            ></path>
            <path
              class="cls-17"
              d="m1106.34,761.56c-.17,1.19-.34,2.39-.6,3.66-20.7,8.78-47.03,11.08-47.03,11.08-2.73,45.41-39.1,40.98-39.1,40.98v-2.39c39.79-1.11,36.8-42.85,36.8-42.85,28.46-.85,49.92-10.48,49.92-10.48h0Z"
            ></path>
            <path
              class="cls-12"
              d="m1068.68,581.63h0c-7.58,0-13.8,6.39-13.8,14.31v24.54c0,7.84,6.22,14.31,13.8,14.31h0c7.58,0,13.8-6.39,13.8-14.31v-24.54c0-7.92-6.22-14.31-13.8-14.31h0Z"
            ></path>
            <path
              class="cls-14"
              d="m1056.16,589.8c-.85,1.87-1.36,3.92-1.36,6.05v24.54c0,7.84,6.22,14.31,13.8,14.31h0c2.13,0,4.09-.51,5.88-1.36.85-1.87,1.28-3.92,1.28-6.05v-24.54c0-7.84-6.22-14.31-13.8-14.31h0c-1.96,0-4,.51-5.79,1.36h0Z"
            ></path>
            <path
              class="cls-17"
              d="m917.12,793.16c-.43,1.53-.77,2.73-.85,3.41l-.09.51c-5.11-3.24-17.38-8.09-45.92-9.46,0-.26.09-.51.09-.77,0,0,.51-1.7,1.28-4.52,13.38.17,33.31,2.04,45.49,10.82h0Z"
            ></path>
            <path
              class="cls-12"
              d="m910.99,564.25c-6.65,2.98-18.06,9.29-18.06,15.42,0,0-8.26,61.68,18.15,61.94h0c-6.13-22.66-5.54-48.56-.77-74.2.26-1.11.43-2.13.68-3.15h0Z"
            ></path>
            <path
              class="cls-9"
              d="m891.73,603.69c.43,17.29,4.17,37.74,19.34,37.91h0c-2.64-9.8-4.09-20.28-4.43-31.1-6.22-1.87-11.08-4.26-14.91-6.82h0Z"
            ></path>
            <path
              class="cls-8"
              d="m914.73,564.76s-.85-52.31,39.53-75.74c0,0,25.22.85,22.66-17.98-2.47-18.83-28.8-2.3-29.56,6.73.68,3.83-64.41,57-35.95,98.66l3.32-11.67h0Z"
            ></path>
            <path
              class="cls-17"
              d="m932.88,761.56c.17,1.19.34,2.39.6,3.66,20.7,8.78,47.03,11.08,47.03,11.08,2.73,45.41,39.1,40.98,39.1,40.98v-2.39c-39.79-1.11-36.8-42.85-36.8-42.85-28.54-.85-49.92-10.48-49.92-10.48h0Z"
            ></path>
            <path
              class="cls-10"
              d="m933.73,767.18c8.52,49.41,33.99,119.27,85.79,118.34,51.8.94,77.27-68.92,85.79-118.34-8.43,21.04-35.78,78.46-85.79,78.89-49.92-.43-77.36-57.85-85.79-78.89h0Z"
            ></path>
            <path
              class="cls-9"
              d="m1019.61,742.56c17.46,0,31.69,14.65,31.69,32.71s-14.14,32.71-31.69,32.71-31.69-14.65-31.69-32.71c0-18.06,14.14-32.71,31.69-32.71h0Z"
            ></path>
            <path
              class="cls-15"
              d="m1019.61,742.56c15.34,0,28.03,11.25,31.01,26.15-2.98,14.91-15.68,26.15-31.01,26.15s-28.11-11.25-31.01-26.15c2.9-14.91,15.68-26.15,31.01-26.15h0Z"
            ></path>
            <path
              class="cls-12"
              d="m970.45,581.63h0c7.58,0,13.8,6.39,13.8,14.31v24.54c0,7.84-6.22,14.31-13.8,14.31h0c-7.58,0-13.8-6.39-13.8-14.31v-24.54c0-7.92,6.22-14.31,13.8-14.31h0Z"
            ></path>
            <path
              class="cls-18"
              d="m982.98,589.8c.85,1.87,1.28,3.92,1.28,6.05v24.54c0,7.84-6.22,14.31-13.8,14.31h0c-2.13,0-4.09-.51-5.88-1.36-.85-1.87-1.28-3.92-1.28-6.05v-24.54c0-7.84,6.22-14.31,13.8-14.31h0c2.13,0,4.09.51,5.88,1.36h0Z"
            ></path>
            <path
              class="cls-9"
              d="m986.64,513.13c4.86,10.9,12.44,21.9,23.26,23.09h19.34c10.82-1.11,18.4-12.18,23.26-23.09-14.14-3.92-26.58-5.37-32.89-5.88-6.39.6-18.83,1.96-32.97,5.88h0Z"
            ></path>
            <g class="cls-64">
              <polygon
                class="cls-37"
                points="1485.97 1094.16 1119.29 950.69 1166.57 822.3 1533.25 965.77 1485.97 1094.16"></polygon>
            </g>
            <g class="cls-47">
              <polygon class="cls-2" points="526.59 1050.88 788.39 749.46 887.3 841.3 625.5 1142.72 526.59 1050.88"
              ></polygon>
            </g>
            <path
              class="cls-11"
              d="m969.6,589.55c-1.11,1.7-1.96,3.58-2.3,5.71l-4.09,24.2c-1.28,7.75,3.83,15.08,11.25,16.36h0c2.04.34,4.09.17,6.05-.34,1.11-1.7,1.96-3.58,2.3-5.79l4.09-24.2c1.28-7.75-3.83-15.08-11.25-16.36h0c-2.13-.26-4.17-.17-6.05.43h0Z"
            ></path>
            <path
              class="cls-16"
              d="m1014.16,750.4c-1.11,1.7-1.96,3.58-2.3,5.71l-4.09,24.2c-1.28,7.75,3.83,15.08,11.25,16.36h0c2.04.34,4.09.17,6.05-.34,1.11-1.7,1.96-3.58,2.3-5.79l4.09-24.2c1.28-7.75-3.83-15.08-11.25-16.36h0c-2.13-.26-4.17-.17-6.05.43h0Z"
            ></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
</section>
<section class="my-64">
  <div class="container">
    <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
      <div class="space-content flex flex-col justify-center">
        <h2>GrapesJS Editor.</h2>
        <p class="text-2xl">
         With the help of <b><a target="_blank" rel="noopener noreferrer" href="https://grapesjs.com/">GrapesJS</a> </b>
          you will be able to create your own templates for your mail campaigns.
        </p>

      </div>
      <img alt="grape js"  style="border: 1vw solid;border-image: linear-gradient(to right, #4b1e4e, #F58140) 1;" class="rounded-lg" decoding="async" loading="lazy" src="https://i.imgur.com/Qu3UcyG.jpeg" />
    </div>
  </div>
</section>
<section class="my-64">
  <div class="container">
    <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
      <img
        style="border: 1vw solid;border-image: linear-gradient(to right, #4b1e4e, #F58140) 1;"
        class="rounded-lg"
        decoding="async"
        loading="lazy"
        src="https://i.imgur.com/kk2edgP.png"
      />
      <div class="space-content flex flex-col justify-center">
        <h2 data-astro-cid-b4koausq="">Advanced Workflows</h2>
        <p class="text-2xl" data-astro-cid-b4koausq="">
          With the help of <b><a target="_blank" rel="noopener noreferrer" href="https://github.com/42coders/workflows">42coders/workflows</a> </b>
          in our platform you will be able to use drag and drop to build workflows for your mail campaigns.
        </p>
      </div>
    </div>
  </div>
</section>
