---
import { Icon } from 'astro-icon/components'

const { src = '/src/assets/img/logo.svg' } = Astro.props
---

<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-12 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot><span class="text-gradient">Laravel</span> Mail</slot>
        </h1>

        <p class="text-3xl">Community inspired mail platform for your laravel application.</p>
        <p class="text-2xl">
          Reduce your mail costs and focus on your business. Use Workflows to drive your business revenue.
        </p>
        <div class="flex flex-col gap-4 min-[500px]:flex-row">
          <a
            class="button has-icon color-secondary"
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/laravelmail/demo'})return false"
            href="#"
          >
            <Icon name="ion:calendar-outline" />
            Book Demo
          </a>
          <a
            class="button has-icon color-secondary"
            href="https://join.slack.com/t/laravelmail/shared_invite/zt-2pjzclfup-2BD3DsjE_LheSOsJSHY~Cw"
          >
            <Icon name="ion:chatbubble-outline" />
            Join us on Slack
          </a>
        </div>
      </div>

      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 903.88 648.31">
        <path fill="#4b1e4e" opacity=".9" d="M318.88,648.31L903.88,52.7,70.7,0l93.07,243.11,476.73-89.59L225.81,405.18l93.07,243.11Z"/>
        <path stroke="#f58140" stroke-width="5" stroke-linecap="round" d="M2.5,266.82l100.53-38.49"/>
        <path stroke="#f58140" stroke-width="10" stroke-linecap="round" d="M49.08,375.35l268.6-102.83"/>
        <path stroke="#f58140" stroke-width="5" stroke-linecap="round" d="M39.45,510.05l99.58-38.12"/>
      </svg>
    </div>
  </div>
</section>
