---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---
<DefaultLayout title="Contact - Laravel Mail">

  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Contact</h2>
      <p>
        If you have any questions or need help, please feel free to contact us. We will get back to you as soon as possible.
      </p>
    </div>
  </section>

</DefaultLayout>


