---
import DefaultLayout from '../layouts/DefaultLayout.astro'
const handleSubmit = async (event) => {
  event.preventDefault();


  // Get form data
  const formData = new FormData(event.target);
  const email = formData.get('email');
  const name = formData.get('name');
  const message = formData.get('message');

  // Prepare the request
  const request = new Request('https://automation.izdrail.com/api/v1/webhooks/a9xR5i8yxsBVzMwTJ5zcm', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({ email,name,message }),
  });

  // Send the request
  try {
    const response = await fetch(request);
    if (response.ok) {
      // Handle successful submission (e.g., display a success message)
      console.log('Message sent successfully!');
    } else {
      // Handle errors (e.g., display an error message)
      console.error('Error sending message:', await response.text());
    }
  } catch (error) {
    console.error('Error:', error);
  }
};
---
<DefaultLayout title="Contact laravel mail platform - laravelmail.com">
  <section class="my-64">
      <div class="container">
        <div class="grid align-center" >
          <div class="hidden lg:block" >
            <h3 class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">Points of contact</h3>
            <h4 class="mb-1 font-medium text-gray-900 dark:text-white">Stefan Bogdanel</h4>
            <address class="non-italic text-sm font-normal text-gray-500">38 Deidre Avenue,<br>Wickford Essex</address>
            <h4 class="mb-1 mt-4 font-medium text-gray-900 dark:text-white">Support</h4>
            <p class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500"><a 
              data-umami-event-title="Download html code "
              data-umami-event-url="mailto:stefan@izdrail.com"
              href="#">stefan@izdrail.com</a></p>
          </div>

      </div>
      </div>
  </section>
</DefaultLayout>


