---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Feature from '../components/Feature.astro'
import CallToAction from '../components/CallToAction.astro'

---

<DefaultLayout title="Features">

  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">
        Features 
      </h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Multiple smtps">
          Laravel Mail can be used with multiple SMTP providers like: Mailgun, SendGrid, Postmark, Amazon SES, Zepto Mail.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Email Verification">
         Out platform comes out of the box with a powerful <b>self-hostef email verification</b> service that allows you to easily verify your users' email addresses and reduce in this way the number of bounce emails.
         An example of a email campaign sent to 75 subscribers only 2 emails softly - bounced.
        </Feature>
        <Feature icon="mdi:looks" title="Multiple workspaces">
          Our laravel mail platform can easily handle multiple workspaces or teams through a single interface.
        </Feature>
        <Feature icon="mdi:eslint" title="Golang MTA">
          Deliver milions of emails per day using our laravel mail go client and send them directly to your customers.
        </Feature>
        <Feature icon="mdi:eslint" title="Message Tracking">
          Automatically track message sending, opens, clicks, bounces and unsubscribes for each campaign, better analaytics than sendportal due to our built-in message tracking.
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="Multiple Templates">
          Because we whant to make your life easier we imported already all the email templates from Unilayer.com so you don't have to, enjoy over 1000 templates free.
        </Feature>
        <Feature icon="mdi:cog" title="Workflows">
          Design email marketing workflows to help you build your business faster with automation, Curentlly we support Wordpress, Magento, Shopify more automation workflows are available for your discrection to create using laravel.
        </Feature>

      </div>
    </div>
  </section>
  <CallToAction />

</DefaultLayout>
