---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Feature from '../components/Feature.astro'
import CallToAction from '../components/CallToAction.astro'

---

<DefaultLayout title="Features">


  <section class="my-64">
    <div class="container">
      <h1 class="mb-16 text-6xl">
        Features of Laravel Mail
      </h1>
      <p class="mb-12 text-lg text-white-700">
        Laravel Mail is a powerful platform designed to simplify email marketing with advanced features like multi-SMTP support, email verification, and detailed message tracking. Perfect for businesses looking to scale their email outreach effectively.
      </p>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Multiple SMTPs">
          Integrate seamlessly with popular SMTP providers such as Mailgun, SendGrid, Postmark, Amazon SES, and Zepto Mail. Manage multiple email services effortlessly.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Email Verification">
          Our platform includes a robust <b>self-hosted email verification</b> service to validate email addresses and reduce bounce rates. For example, a campaign sent to 75 subscribers experienced only two soft bounces.
        </Feature>
        <Feature icon="mdi:looks" title="Multiple Workspaces">
          Easily manage multiple workspaces or teams from a single, user-friendly interface, streamlining collaboration and organization.
        </Feature>
        <Feature icon="mdi:eslint" title="Golang MTA">
          Leverage our Multi server Go-based Mail Transfer Agent (MTA) to deliver millions of emails daily, ensuring high reliability and performance.
        </Feature>
        <Feature icon="mdi:eslint" title="Message Tracking">
          Gain valuable insights with advanced analytics, tracking email delivery, opens, clicks, bounces, and unsubscribes. Our built-in message tracking surpasses SendPortal's capabilities.
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="Extensive Email Templates">
          Access over 1,000 pre-designed email templates imported from Unlayer.com. Simplify your email campaigns with ready-to-use, customizable designs.
        </Feature>
        <Feature icon="mdi:cog" title="Workflows and Automation">
          Create efficient email marketing workflows to grow your business faster. Our platform supports integrations with WordPress, Magento, and Shopify. Additional workflow automation can be customized using Laravel.
        </Feature>
        <Feature icon="mdi:cog" title="Asterix Integration">
          At release 0.5 we have will added basic Asterix to our platform. Asterix is a powerful IPBX solution to manage and host your own Voip solution.
        </Feature>
      </div>
    </div>
  </section>


  <div class="grid gap-y-12 mx-auto lg:grid-cols-3 gap-x-28 max-w-6xl">
            
                
    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Bring your own email&nbsp;provider

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Send emails over your own email provider, including SMTP, Amazon SES, Sendgrid, Mailgun, Resend or&nbsp;Postmark.</p>


</div>



<a href="/features/bring-your-own-email-provider" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Double&nbsp;opt-in

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Confirm signups to improve the quality of your&nbsp;lists.</p>


</div>



<a href="/features/double-opt-in" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

"Fake" transactional&nbsp;emails

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Test your transactional emails by sending them through the full Mailcoach email sending flow, except the final delivery. You can use this as an alternative for Mailtrap, Mailhog, or other&nbsp;services.</p>


</div>



<a href="/features/fake-transactional-mails" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Import from CSV &amp;&nbsp;Excel

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Easily add your contacts from existing files or other services to your&nbsp;lists.</p>


</div>



<a href="/features/import-from-csv-excel" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Integrate using powerful API &amp;&nbsp;SDKs

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Easily integrate our API into your application with our Laravel and PHP&nbsp;SDKs.</p>


</div>



<a href="/features/integrate-using-powerful-api-sdks" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Laravel&nbsp;Driver

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Send any mailable through Mailcoach inside your Laravel&nbsp;application.</p>


</div>



<a href="/features/laravel-driver" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Markdown

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Write  your newsletters, drip campaigns and transactional emails in&nbsp;Markdown.</p>


</div>



<a href="/features/markdown" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

MJML

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Save time by writing MJML directly instead of 90s era email HTML in our template&nbsp;editor.</p>


</div>



<a href="/features/mjml" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Newsletter&nbsp;archive

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Showcase your newsletter on a searchable archive of your past&nbsp;newsletters.</p>


</div>



<a href="/features/newsletter-archive" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Placeholders

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Personalize your emails with dynamic&nbsp;content.</p>


</div>



<a href="/features/placeholders" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Pre-send&nbsp;checklists

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Checklists to help you catch any errors before&nbsp;sending.</p>


</div>



<a href="/features/pre-send-checklists" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

RSS&nbsp;feed

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Allow subscribers to get notified about new campaigns with&nbsp;RSS.</p>


</div>



<a href="/features/rss-feed" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Suppressions

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Manage your own list of suppressions, a list of people who will never receive your&nbsp;emails.</p>


</div>



<a href="/features/suppressions" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Teams &amp;&nbsp;domains

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Create multiple teams or connect multiple domains to your&nbsp;account.</p>


</div>



<a href="/features/teams-domains" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Templates

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>A template is a reusable layout that can be used as a starting point for your campaigns, automation emails, or transactional&nbsp;emails.</p>


</div>



<a href="/features/templates" class="no-underline text-blue flex items-center gap-x-2 hover:gap-x-3 transition-all">
    <span>Learn more</span>
    <svg class="h-2.5 mt-0.5" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9568 6.60194L13.5569 6.00177L12.9568 5.40159L8.15534 0.600177L7.55516 0L6.35834 1.20035L6.95852 1.80053L10.3124 5.15446H0.847308H0V6.84907H0.847308H10.3124L6.95852 10.203L6.35834 10.8032L7.55516 12L8.15534 11.3998L12.9568 6.60194Z" fill="#3461D6"></path>
    </svg>
</a>



</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Transactional&nbsp;API

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Send emails from your application with a single&nbsp;endpoint.</p>


</div>





</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Twig&nbsp;templates

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Write Twig inside your templates for powerful conditional logic based on your subscribers’&nbsp;attributes.</p>


</div>





</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Unlimited contacts &amp;&nbsp;audiences

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Don’t pay more each month if you have more contacts. Instead, you only pay based on how many emails you&nbsp;send.</p>


</div>






</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

UTM&nbsp;tags

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Track campaign performance accurately in outside applications with UTM tags automatically added to every link in your&nbsp;campaign.</p>


</div>




</div>


    <div class="flex flex-col gap-y-2 md:gap-y-4 text-navy">
<h3 class="text-lg md:text-xl mb-0 font-medium">

Webhooks

</h3>
<div class="prose prose-navy prose-sm md:prose-base">

<p>Use a webhook as a trigger in your automations and keep remote platforms&nbsp;synchronized.</p>


</div>




</div>



</div>


</DefaultLayout>
