---
import DefaultLayout from '../layouts/DefaultLayout.astro'


---

<DefaultLayout title="Home">

  <div class="container">

    <div class="col-lg-12">
      <div class="preview__inner-1"><div class="preview__inner-2" style="padding: 10px 25px 689px;"><div class="cl-preview-section"><p>Terms of use<br>
        These Laravel Mail Terms of Use (the “Terms of Use”) apply only to the services provided through the Laravel Mail environment. Laravel Mail is a product by Laravel Agency Essex, with registered offices at Deidre Avenue, 2024 Wickford, England.</p>
        </div><div class="cl-preview-section"><p>Referred to as “Laravel Mail” “we”, “us” or “our”.</p>
        </div><div class="cl-preview-section"><p>By using Laravel Mail. You explicitly agree to these Terms of Use.</p>
        </div><div class="cl-preview-section"><ol>
        <li>What we offer you with Laravel Mail<br>
        Laravel Agency Essex offers you with Laravel Mail a Software as a Service on an as-is basis. Laravel Mail functions as an email marketing platform where we take care of the hosting. You can use Laravel Mail to send out marketing campaigns, transactional emails and email automations.</li>
        </ol>
        </div><div class="cl-preview-section"><p>Laravel Mail offers several options to send out these emails. You can choose between several email delivery services or use your own SMTP server. Laravel Mail can also be integrated into your own systems by using an API.</p>
        </div><div class="cl-preview-section"><p>Laravel Mail will perform all its obligations with due diligence according to the industry standards.</p>
        </div><div class="cl-preview-section"><p>Please see the <a href="https://laravelmail.com">https://laravelmail.com</a> website for a detailed overview or contact us via <a href="mailto:stefan@laravelmail.com">stefan@laravelmail.com</a>.</p>
        </div><div class="cl-preview-section"><ol start="2">
        <li>Price and Payment of Laravel Mail<br>
        2.1. Laravel Mail works on a buy to own software. You pay us a fixed price. Your first payment happens therefore once you aquire the software, <strong>no hidden fees</strong><br>
        2.2. All payments concerning the payment of your Laravel Mail software shall be handled by Stripe in accordance with its terms and conditions. Laravel Agency Essex does not store any of your payment details.</li>
        </ol>
        </div><div class="cl-preview-section"><p>2.3. For purchasing a copy of Laravel Mail, a valid email address is needed.</p>
        </div><div class="cl-preview-section"><ol start="3">
        <li>Use of Laravel Mail<br>
        3.1. Laravel Agency Essex is the owner or licensee of all rights in relation to Laravel Mail, including any and all copyrights under Common law.</li>
        </ol>
        </div><div class="cl-preview-section"><p>3.2. It is not permitted to:</p>
        </div><div class="cl-preview-section"><p>3.2.1. lease, re-sell of Laravel Mail, in whole or in part;</p>
        </div><div class="cl-preview-section"><p>3.2.2. perform any action with the intention of damaging Laravel Mail through viruses, ‘worms’, defects, ‘trojans’, ‘malware’, ‘spyware’ or items of a destructive nature;</p>
        </div><div class="cl-preview-section"><p>3.2.3. use Laravel Mail in a manner that could harm a person or otherwise harm, defame, abuse, harass or threaten a person or encourage third parties to do so;</p>
        </div><div class="cl-preview-section"><p>3.2.4. use Laravel Mail in a manner or for any purpose that is contrary to a law or other regulation, or for a transfer of data that is or may be illegal, defamatory, intimidating, invasive or harmful to the privacy of third parties, or contains viruses, or violates or may violate the intellectual property rights or other rights of Laravel Agency Essex, its licensors or other individuals or entities;</p>
        </div><div class="cl-preview-section"><p>3.2.5. attempt to gain access to reserved or protected parts of Laravel Mail, to which you have not obtained explicit access.</p>
        </div><div class="cl-preview-section"><p>3.2.6. You will try to prevent any action that imposes an unreasonable or disproportionately large load on the Laravel Mail infrastructure or that attempts to interfere with the proper working of our Laravel Mail infrastructure.</p>
        </div><div class="cl-preview-section"><p>3.2.7. We are authorised to send you messages via email regarding the use of our Laravel Mail. If you provide feedback or suggestions, we may use this information to improve Laravel Mail without any obligation to you.</p>
        </div><div class="cl-preview-section"><p>3.2.8. When you create an account with us, you must provide us with all necessary and correct information, and ensure that this information remains up-to-date. You may not provide any false or incorrect information to us about your identity or misrepresent your identity in any other way. We will only use your personal data for the purposes for which we have this data at our disposal, and in a manner that is in accordance with these Terms of Use and our privacy policy.</p>
        </div><div class="cl-preview-section"><p>3.2.9. If you use Laravel Mail on a device and/or platform of a third party OR use third party software through Laravel Mail (e.g. the email delivery services), you are also bound by the general terms &amp; conditions, terms of use, privacy policy of that third party when using Laravel Mail. You confirm that you have taken note of such conditions and that you accept them. If this is not the case, you shall not be allowed to use Laravel Mail.</p>
        </div><div class="cl-preview-section"><p>3.1 Email types that we don’t allow on our Laravel Mail email provider<br>
        This should go without saying, but you can’t use Laravel Mail to do or promote anything illegal. There are other industries that aren’t illegal, but tend to generate a lot of spam complaints.</p>
        </div><div class="cl-preview-section"><p>To be specific, we may not allow the following businesses or types of services to use Laravel Mail:</p>
        </div><div class="cl-preview-section"><p>Emails offering to sell illegal goods or services<br>
        Emails that violate CAN-SPAM Laws<br>
        Pornography/sexually explicit content<br>
        Escort services<br>
        Pharmaceutical products<br>
        Gambling services or products<br>
        Multi-level marketing<br>
        Affiliate marketing<br>
        Make money online opportunities<br>
        Credit repair and get out of debt opportunities<br>
        Short-term / payday loan services<br>
        List brokers or list rental services<br>
        Selling “Likes” or followers for a social media platform<br>
        Other emails that we find, in our sole discretion, hurt our reputation or our deliverability<br>
        In addition to the content guidelines above, there are a few other things we expect from our customers once you start sending with Laravel Mail, regardless of your industry:</p>
        </div><div class="cl-preview-section"><p>Your spam complaint rate has to be lower than 1 in 1,000 emails (0.1%). If you exceed this limit your account might get paused while we work with you to figure out what’s going on.<br>
        Your bounce rate has to be lower than 10% of all emails sent. Anything higher than that and inbox providers will start to think that you’re sending to poorly qualified recipients.<br>
        4. Duration – Termination<br>
        4.1. We may terminate or suspend your access to Laravel Mail at any time, including in the event of your actual or suspected unauthorised use or of non-compliance with these Terms of Use, without any liability.</p>
        </div><div class="cl-preview-section"><p>4.2. You are entitled to terminate your use of Laravel Mail but shall, for the avoidance of doubt, in no event be entitled to the repayment of the paid monthly license fee and all outstanding usage costs remain due.</p>
        </div><div class="cl-preview-section"><p>4.3. As long as you use Laravel Mail, these Terms of Use shall apply.</p>
        </div><div class="cl-preview-section"><ol start="5">
        <li>Updates and support<br>
        5.1. We can update Laravel Mail and its functionalities as we deem required at our sole discretion. We may update Laravel Mail without notifying you.</li>
        </ol>
        </div><div class="cl-preview-section"><p>5.2. Laravel Mail offers a chat function within the platform where you can ask all your questions related to the use of Laravel Mail. We will take reasonable efforts to respond to your question as soon as possible. Laravel Agency Essex also doesn’t offer training to your staff or partners.</p>
        </div><div class="cl-preview-section"><ol start="6">
        <li>
        <p>Intellectual Property<br>
        6.1. Your subscription grants you the permission to use Laravel Mail. You do not obtain any (intellectual) property rights on Laravel Mail itself. At all times, we remain the exclusive owner of Laravel Mail, as well as the sole holder of all copyrights and other intellectual property rights on Laravel Mail. Its code and structure are valuable trade secrets to us, which are protected by Belgian law.</p>
        </li>
        <li>
        <p>Data protection<br>
        7.1. We process personal data on your behalf and as per your instructions. We do not determine the purpose or essential means for your processing activities. Therefore you are considered to act as a controller according to the General Data Protection Regulation (GDPR) and we act as a processor. By using Laravel Mail you consent with our Data Processing Agreement and our Privacy Policy.</p>
        </li>
        </ol>
        </div><div class="cl-preview-section"><p>7.2. We strongly advise you to not use Laravel Mail for the processing of sensitive personal data. Laravel Mail has taken several technical and organisational measures to prevent data breaches. Nevertheless, email is an inherently unsafe medium and should therefore not be used to process sensitive personal data.</p>
        </div><div class="cl-preview-section"><p>7.3. Being a controller comes with certain responsibilities. At no obligation to us, we wish to bring some of these commitments to your attention:</p>
        </div><div class="cl-preview-section"><p>7.3.1. We can provide you with a signed version of our Data Processing Agreement, but only on your explicit request. Please contact us at <a href="mailto:stefan@laravelmail.com">stefan@laravelmail.com</a>.</p>
        </div><div class="cl-preview-section"><p>7.3.2. Laravel Mail cannot determine the legal basis for your processing activities. This is your explicit responsibility. Nevertheless, we have developed Laravel Mail in a privacy friendly manner in order to help you. By way of examples, we therefore offer the following functionalities:</p>
        </div><div class="cl-preview-section"><p>7.3.2.1. Double opt-in: when a new person subscribes to your mailing list, a confirmation email will be sent. If this person doesn’t confirm their subscription, their personal data will be erased.</p>
        </div><div class="cl-preview-section"><p>7.3.2.2. Default unsubscribe button: all email templates contain an unsubscribe button by default.</p>
        </div><div class="cl-preview-section"><p>7.3.2.3. List of unsubscribed users: we provide a list of all the subscribers that unsubscribed from your mailing list. This is necessary to prevent accidental re-subscriptions.</p>
        </div><div class="cl-preview-section"><p>7.3.2.4. Default prevention of re-subscriptions: when importing subscribers, re-subscription is turned off by default to prevent accidentally adding unsubscribed emails. When turning this on, a warning is displayed.</p>
        </div><div class="cl-preview-section"><p>7.3.2.5. Privacy notifications: when you opt-out of one of the privacy default settings, you receive several notifications to ensure you know what you’re doing.</p>
        </div><div class="cl-preview-section"><p>7.3.2.6. Privacy policy: we provide the option to include a link to your privacy policy in the emails so that you can correctly inform the subscribers.</p>
        </div><div class="cl-preview-section"><p>7.3.3. We also process the data of your employees. In this instance we operate as a controller when we process the data of the team owner (administrator) for creating an account on Laravel Mail. However, when the team owner adds new users to the team, you act as a controller and Laravel Mail as a processor. It is your responsibility to erase your employee’s personal data when they no longer work for you.</p>
        </div><div class="cl-preview-section"><p>7.3.4. We will not erase subscriber data. It is your responsibility to erase this data when a subscriber asks you to.</p>
        </div><div class="cl-preview-section"><ol start="8">
        <li>Disclaimer of Warranty<br>
        8.1. Laravel Mail is provided as is, “as available” and without warranties of any kind, either express or implied. We do not warrant that Laravel Mail shall meet your requirements or that it shall be uninterrupted or error-free. To the fullest extent permitted by law, we disclaim all warranties, express or implied, including but not limited to implied warranties of merchantability, satisfactory quality and fitness for a particular purpose, compatibility, security, or accuracy.</li>
        </ol>
        </div><div class="cl-preview-section"><p>8.2. Any use of Laravel Mail by you is under your responsibility and at your own risk. You are the sole responsible for the accuracy of data input into Laravel Mail. In no event shall we be liable concerning the consequences of the use of Laravel Mail by you.</p>
        </div><div class="cl-preview-section"><p>8.3. You acknowledge and agree that we have no obligation to maintain, support, upgrade or update the Laravel Mail.</p>
        </div><div class="cl-preview-section"><p>8.4. To the extent permitted by applicable law, we shall not be liable for delays, service interruption or other issues inherent to the use of the Internet and electronic communications or other system failures beyond our control.</p>
        </div><div class="cl-preview-section"><p>8.5. To to extent allowed by Belgian law, Laravel Mail, its affiliates, directors, or employees will not be liable for any damages whatsoever, including without limitation, any loss of profits, loss of business, loss of use or data, interruption of business, or for direct, indirect, special, incidental or consequential damages of any kind.</p>
        </div><div class="cl-preview-section"><ol start="9">
        <li>
        <p>Indemnification<br>
        You agree to indemnify and hold us harmless, our affiliates and our officers, directors, employees, stockholders, agents and representatives from any and all third party claims, liability, damages and/or costs (including, but not limited to, reasonable attorney and legal fees and expenses) arising from your improper use of Laravel Mail, your violation of these Terms of Use, or your infringement, or the infringement or use by any other user of your account in relation to Laravel Mail (for example: the infringement of any intellectual property).</p>
        </li>
        <li>
        <p>Third-Party licenses<br>
        10.1. Specific components bundled with Laravel Mail may be provided under third party licenses and may be subject to other terms and conditions as those of these Terms of Use.</p>
        </li>
        </ol>
        </div><div class="cl-preview-section"><p>10.2. You shall be required to obtain for yourself all licenses for third-party software not included within your subscription. We do not assume any responsibility in case of infringement of such third party license terms of use by you.</p>
        </div><div class="cl-preview-section"><ol start="11">
        <li>Miscellaneous provisions<br>
        11.1. If any provision of these Terms of Use shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these Terms of Use and shall not affect the validity and enforceability of any remaining provisions…</li>
        </ol>
        </div><div class="cl-preview-section"><p>Laravel Mail will undertake, to the extent legally possible, to replace the invalid provisions by a new provision that corresponds to our objectives and choices.</p>
        </div><div class="cl-preview-section"><ol start="12">
        <li>Changes to these Terms of Use<br>
        12.1. We reserve the right, at our sole discretion, to change or replace these Terms of Use or parts of it at any time. When we make material changes to the Terms of Use, we will make reasonable efforts to send you a clear notice before the changes take effect. Only we decide what constitutes as a material change.</li>
        </ol>
        </div><div class="cl-preview-section"><p>We advise you to check these Terms of Use periodically for modifications. By accessing or using Laravel Mail after these Terms of Use have been modified, we presume you have read and agreed to accept these modifications. If you do not agree to these Terms of Use, please stop using Laravel Mail.</p>
        </div><div class="cl-preview-section"><p>12.2. We shall make sure that the latest version of these Terms of Use shall always be available on <a href="https://laravelmail.com">https://laravelmail.com</a></p>
        </div><div class="cl-preview-section"><p>12.3. If you have any questions or concerns, you may contact us by email at <a href="mailto:stefan@laravelmail.com">stefan@laravelmail.com</a>.</p>
        </div><div class="cl-preview-section"><ol start="13">
        <li>Applicable law and disputes<br>
        13.1. The Terms of Use are governed in all respects by and shall be interpreted and construed in accordance with UK law.</li>
        </ol>
        </div><div class="cl-preview-section"><p>13.2. Disputes concerning the execution or interpretation of these Terms of Use shall be submitted exclusively to the courts of London.</p>
        </div></div> <div class="gutter" style="left: 0px;"><!----> <!----></div></div>

    </div>

  </div>

</DefaultLayout>
