---
import DefaultLayout from '../layouts/DefaultLayout.astro'


---

<DefaultLayout title="Home">


  <div class="container">

    <h1 class="text-3xl font-bold mb-4">
      Try it out
    </h1>


    <p class="text-xl">
      Please note that this is a work in progress and the image is not yet ready for production use.
    </p>

    <p> You can try the application live at <a
      class="button has-icon color-secondary"
      target="_blank"
      href="https://app.laravelmail.com/login">
    Live App
    </a></p>

    <p>
      For login and register, please use the following credentials:
    </p>

    <pre class="text-xl mt-4">
      <code class="language-html">
        username: marketing@laravelmail.com
        password: secret
      </code>
    </pre>


    <p class="text-xl">
      You can run a local copy of the application by using the latest docker version 
    </p>

    <pre class="text-xl mt-4">
      <code class="language-html">
        version: '3.8'
        services:
          app.laravelmail.com:
            container_name: app.laravelmail.com
            image: izdrail/app.laravelmail.com:latest
      </code>
    </pre>

  </div>
</DefaultLayout>
