---
import DefaultLayout from '../layouts/DefaultLayout.astro'


---

<DefaultLayout title="Home">
  <div class="container">
    <div class="container my-5">
      <h1 class="mb-4">Cookie Policy</h1>

      <h2>Introduction</h2>
      <p>This Cookie Policy explains how our website uses cookies and similar technologies to track user engagement and improve your experience. By using our website, you consent to the use of cookies in accordance with this policy.</p>

      <h2>What are Cookies?</h2>
      <p>Cookies are small text files placed on your device that help us understand how you interact with our website. They enable us to remember your preferences and enhance your browsing experience.</p>

      <h2>Cookies We Use</h2>
      <h3>Hotjar</h3>
      <p>We use Hotjar to analyze user behavior on our website. Hotjar helps us understand how visitors interact with our site by tracking actions like clicks, scrolling, and page visits. This data allows us to optimize the user experience.</p>

      <h3>Google Analytics</h3>
      <p>We use Google Analytics to collect information about website traffic and user interactions. Google Analytics helps us understand how visitors use our website, which pages are popular, and how we can improve our content and services.</p>

      <h2>How We Use Cookies</h2>
      <ul>
        <li><strong>Performance</strong>: To track engagement and analyze site performance.</li>
        <li><strong>Functionality</strong>: To remember your preferences and settings.</li>
      </ul>

      <h2>Managing Cookies</h2>
      <p>You can manage and control cookies through your browser settings. Most browsers allow you to block cookies or delete them. However, please note that disabling cookies may affect your experience on our website.</p>
      <p>For more information on how to manage cookies, please visit your browser's help page or website.</p>

      <h2>Changes to This Policy</h2>
      <p>We may update this Cookie Policy from time to time. Any changes will be posted on this page with an updated effective date.</p>

      <h2>Contact Us</h2>
      <p>If you have any questions or concerns about our use of cookies, please contact us at <a href="mailto:stefan@laravelcompany.com">stefan@laravelcompany.com</a>.</p>

      <footer class="mt-5">
        <p><small><strong>Effective Date:</strong> 2024-01-01</small></p>
      </footer>
    </div>

  </div>
</DefaultLayout>
