---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
---

<DefaultLayout title="Laravel Mail">
  <Hero />
  <section class="my-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
        <img
          style="border: 1vw solid;border-image: linear-gradient(to right, #F58140, #4b1e4e ) 0.8;"
          class="rounded-lg"
          decoding="async"
          loading="lazy"
          src="https://i.imgur.com/kk2edgP.png"
          alt="Email marketing automation logo"
        />
        <div class="space-content flex flex-col justify-center">
          <h2>Build <i>Automated Marketing Campaigns</i> with Drag and Drop</h2>
          <p class="text-2xl">
            <a href="https://github.com/laravelcompany" target="_blank">Laravel Mail</a> empowers you to create <b>automated marketing workflows</b> using a user-friendly drag-and-drop interface.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl" title="Features laravel mail">Laravel Mail Platform - Features </h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">

        <Feature icon="mdi:tailwind" title="Self Hosted">
          Since this is a community driven project, we are self hosting the application.
          This means that you can host it
          on your own server. This application can run on any server, including a VPS, a cloud server, or even a raspberry server.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Save Money">
          One short word sending email is free and there should be no cost for you to send your email campaigns.
        </Feature>
        <Feature icon="mdi:eye" title="Message Tracking">
          Keep tabs on your campaigns like a hawk—track sends, opens, clicks, bounces, and even those sneaky
          unsubscribes, all automatically using tracking pixels.
        </Feature>
        <Feature icon="mdi:eslint" title="Email Inteligence">
      
        </Feature>

        <Feature icon="mdi:cog" title="Design Workflows">
          Design marketing workflows with the help of laravel workflow package much easier than before.
        </Feature>
        <Feature icon="mdi:cog" title="Unlimited everything">
          Unlimited users, subscribers, segments and messages.The cloud is the limit.
        </Feature>
        <Feature icon="mdi:cog" title="Campaign Management">
          Send campaigns to all of your subscribers, or custom segments.
          RUn multiple marketing campaigns from one panel and track them all in one place.
        </Feature>
        <Feature icon="mdi:cog" title="Email Validation">
          Open-Source Email Verification API using reacherhq . Prevent bounced emails with world-class email verification.
        </Feature>
        <Feature icon="mdi:cog" title="Google Analytics">
         Out of the box integration with google analytics , no need to worry about adding tracking links.
         GOogle Tag Manager is also available for easy integration.
        </Feature>
        
      </div>
    </div>
  </section>

  <section class="my-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
        <img
          style="border: 1vw solid;border-image: linear-gradient(to right, #F58140, #4b1e4e ) 0.8;"
          class="rounded-lg"
          decoding="async"
          loading="lazy"
          src="https://i.imgur.com/hEqlA2l.png"
          alt="Email intelligence platform"
        />
        <div class="space-content flex flex-col justify-center">
          <h2 title="Email Intelligence platform">Email Intelligence Platform</h2>
          <p class="text-2xl" data-astro-cid-b4koausq="">
            Unlock intelligence about the person behind the email address with email validation, data enrichment, identity matching, and fraud protection.
          </p>
          <p class="text-xl" data-astro-cid-b4koausq="">
            Forensic Email Intelligence™. Experts' choice for investigating email fraud, business email compromise (BEC), malware delivery, and CAN-SPAM Act violations.
          </p>
          <p class="text-xl" data-astro-cid-b4koausq="">
            Laravel Mail produces highly accurate and actionable email risk scores, detailed risk signals, suggested mitigation actions matched to the risk
          </p>
        </div>
      </div>
    </div>
  </section>

  
  <section class="my-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
        <div class="space-content flex flex-col justify-center">
          <h3>GrapesJS Editor.</h3>
          <p class="text-2xl">
            With the help of <b
              ><a target="_blank" rel="noopener noreferrer" href="https://grapesjs.com/">GrapesJS</a>
            </b>
            you will be able to create your own templates for your mail campaigns.
          </p>
          <p>
            Get access to all the grapjs plugins and create your own templates or use our over 1000
          </p>
        </div>
        <img
          alt="grape js"
          style="border: 1vw solid;border-image: linear-gradient(to right, #4b1e4e, #F58140) 1;"
          class="rounded-lg"
          decoding="async"
          loading="lazy"
          src="https://i.imgur.com/Qu3UcyG.jpeg"
        />
      </div>
    </div>
  </section>
  


  <section >
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-16 lg:px-6" >
      <div class="grid space-y-8 lg:grid-cols-2 lg:gap-12 lg:space-y-0" >
        <div >
          <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
            Compare Laravel Mail to other platforms on the market
          </h2>
          <p class="mb-4 text-gray-500 dark:text-gray-400 sm:text-xl">
            Here at <a href="https://laravelcompany.com">Laravel Company</a>, we focus on markets where technology, innovation, and capital can unlock long-term value and drive
            economic growth.
          </p><a
            href="https://laravelmail.com/features"
            class="text-primary-600 hover:text-primary-700 dark:text-primary-500 dark:hover:text-primary-400 inline-flex items-center font-medium sm:text-lg"
            >Learn what makes Laravel Mail different&nbsp;<svg
              class="ml-1 h-5 w-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
        <div >
          <a
            href="#"
            class="border-primary-600 dark:border-primary-500 mb-6 flex items-center justify-between rounded-lg border-l-8 bg-white p-4 shadow hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <div >
              <span class="mb-1 block text-xs font-medium uppercase text-gray-500 dark:text-gray-400"
                >Added Workflow</span
              ><span class="text-primary-600 dark:text-primary-500 text-xl font-semibold">Laravel Mail vs SendPortal</span>
            </div>
            <svg
              class="text-primary-600 dark:text-primary-500 h-6 w-6"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a><a
            href="#"
            class="mb-6 flex items-center justify-between rounded-lg border-l-8 border-purple-600 bg-white p-4 shadow hover:bg-gray-50 dark:border-purple-500 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <div >
              <span class="mb-1 block text-xs font-medium uppercase text-gray-500 dark:text-gray-400"
                >
                Email Intelligence
              </span
              ><span class="text-xl font-semibold text-purple-600 dark:text-purple-500">Laravel Mail vs MailCoach</span>
            </div>
            <svg
              class="h-6 w-6 text-purple-600 dark:text-purple-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a><a
            href="#"
            class="flex items-center justify-between rounded-lg border-l-8 border-teal-600 bg-white p-4 shadow hover:bg-gray-50 dark:border-teal-500 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <div >
              <span class="mb-1 block text-xs font-medium uppercase text-gray-500 dark:text-gray-400"
                >Modern and intuitive ui</span
              ><span class="text-xl font-semibold text-teal-600 dark:text-teal-500">Laravel Mail vs Meet</span>
            </div>
            <svg
              class="h-6 w-6 text-teal-600 dark:text-teal-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>



  <section class="my-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
        <img
        alt="advanced csv import"
        style="border: 1vw solid;border-image: linear-gradient(to right, #4b1e4e, #F58140) 1;"
        class="rounded-lg"
        decoding="async"
        loading="lazy"
        src="https://i.imgur.com/Oy1Wa0R.png"
      />
        <div class="space-content flex flex-col justify-center">
          <h2>Self Hosted Email Marketing Platform for Laravel</h2>
          <p class="text-2xl">
            Powerful email marketing, automations and transactional emails, seamlessly integrated into your Laravel application.
          </p>
          <p>
            Laravel Mail Self-Hosted lets you manage your contact lists and send marketing, automated and transactional emails from within Laravel.
          </p>
          <p>
            Send marketing emails with all the features you need—including segmentation, split testing, and helpful analytics.
Automate your email marketing and create powerful workflows for onboarding or generating leads.
Edit, send and track transactional emails directly in Laravel Mail
You can use Laravel Mail Self-Hosted as a standalone application, or integrate it into your Laravel application. To send emails, you’ll have to set up your own email provider, such as Amazon SES, Sendgrid, Mailgun, or Postmark.
          </p>
          
          <a href="https://app.laravelmail.com" class="btn btn-primary">Get Started</a>
        </div>
      
      </div>
    </div>
  </section>


 
</DefaultLayout>
