---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
---
<DefaultLayout title="About Laravel Mail">

  <section class="my-64">
    <div class="container">
      <h1 class="mb-16 text-6xl">What is Laravel Mail and how can it can help me?</h1>
    </div>
  </section>

    
</DefaultLayout>


